[googleTracker]
==
<!-- Scripts -->
        <link href="{{ 'assets/vendor/flatpickr/flatpickr.min.css'|theme }}" rel="stylesheet" type="text/css">
        <style>#instantclick-bar{background: #AB0323}</style>
        <script src="{{ [
            'assets/vendor/jquery.js',
            'assets/vendor/lazyload.min.js',
            'assets/vendor/instantclick.min.js',
            'assets/vendor/UIKit/uikit.min.js',
            'assets/javascript/app.js',
            '@framework',
            '@framework.extras',
            'assets/vendor/flatpickr/flatpickr.min.js'
        ]|theme }}"></script>
        {% component 'googleTracker' %}
        {% scripts %}

        <script data-no-instant>
            function callback_reveal (e) {
                if (e.tagName === 'VIDEO') {
                    e.innerHTML = e.innerHTML;
                    e.outerHTML = e.outerHTML;
                }
            }
            var myLazyLoad = new LazyLoad({
              elements_selector: ".lazy",
              callback_reveal: callback_reveal
            });
            InstantClick.on('change', function(url, body, title) {
                console.log('updated')
                if (myLazyLoad) {
                    myLazyLoad.update();
                }
            })
            InstantClick.on('receive', function(url, body, title) {
                return {
                  body: body,
                  title: title
                };
            });
            
            InstantClick.init();
        </script>
    </body>
</html>