==
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ this.page.title }}</title>
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" {% component 'SeoCmsPage' %}content="{{ this.page.meta_title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% page %}
</body>

</html>