==
<li><a href="{{ 'charity-event'|page }}">Charity Event</a></li>
<li><a href="{{ 'pricing-tickets'|page }}">Pricing & Tickets</a></li>
<li class="uk-hidden@s">
    <a href="https://www.gofundme.com/shelter-for-rumah-faye-indonesia" target="_blank">
        <button class="uk-button uk-button-large uk-button-primary">Donate Now!</button>
    </a>
</li>