==
<hr class="uk-margin-large">
<div id="footer">
    <div class="uk-container "style="background-image:url('{{ 'assets/images/home1.png' | theme }}'">
        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-background-transparent">
                    <div uk-grid>
                        <div class="uk-width-1-2@s">
                            <ul class="uk-nav uk-nav-default uk-text-left">
                                <li class="uk-nav-header">Our Social Media</li>
                                <li><a href="https://www.instagram.com/ppiarmit/?hl=id" target="_blank">Instagram</a></li>
                                    <li><a href="https://id-id.facebook.com/PPIARMIT" target="_blank">Facebook</a></li>
                                <li><a href="https://open.spotify.com/show/1FYa8T9sfR6tRG4CD8DnAC?si=KlQuv-RbSfi4xG1JQao2kQ" target="_blank">Our Podcast (Spotify)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-background-transparent uk-padding">
                    <div uk-grid>
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/konsul.jpg'|theme }}" alt="Konsulat jendral RI logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/ppiaaus.png'|theme }}" alt="PPIA Australia logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/ppiavicnew.png'|theme }}" alt="PPIA Victoria logo" style="height:80px;width:auto;" >
                        <img class="lazy uk-grid-collapse" data-src="{{ 'assets/images/out_affiliation/rusu.png'|theme }}" alt="RUSU logo" style="height:80px;width:auto;" >
                    </div>
                </div>
            </div>
        </div>
        
        <center>
            <p class="uk-text-meta">&copy;{{ "now"|date("Y") }} PPIA RMIT</p>
        </center>
        
    </div>
</div>