[MemberBenefitComponent]
==
{% for benefit_types in MemberBenefitComponent.getBenefit() %}
  <h1 style="text-align: center; font-size: 30px; border-top:1px solid black; padding-top: 25px; width: auto;">{{ benefit_types[0]['benefit_type_name'] }}</h1>
  <div class="uk-grid-match uk-child-width-1-4@m uk-child-width-1-2@s uk-grid-collapse uk-text-center uk-flex-center" uk-grid>
    {% for benefit in benefit_types %}
    <div>
    
        <div class="uk-tile uk-tile-default" style="width:30%; height:100%;">
            <div style="height:20%;">
                {% if benefit['brand_logo'] is not same as(null) %}
                    <img class="lazy" data-src="{{ benefit['brand_logo'] }}" alt="{{ benefit['brand_name'] }} logo" style="height:auto; width:120px;" />
                {% endif %}
            </div>
            <p class="uk-h4">{{ benefit['brand_name'] }}</p>
            <div class="uk-text-justify description">
                <p class="uk-h4 uk-margin-medium-bottom">{{ html_clean(benefit['benefit_description']) }}</p>

                {% if benefit['brand_address'] is not same as(null) %}
                    <div class="uk-margin-small-top uk-text-meta">
                        {{ benefit['brand_address'] }}
                    </div>
                {% endif %}

                {% if benefit['brand_phone'] is not same as(null) %}
                    <div class="uk-margin-small-top uk-text-meta">
                        {{ benefit['brand_phone'] }}
                    </div>
                {% endif %}

                {% if benefit['brand_website'] is not same as(null) %}
                    <div class="uk-margin-small-top uk-text-small">
                        <a href="{{ benefit['brand_website'] }}">{{ benefit['brand_website'] }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}