==
<!--<li class="{% if this.page.id == 'societal-project' %}uk-active{% endif %}"><a href="https://societal.ppia-rmit.com/" target="_blank">Societal Project</a></li> -->
<li class="{% if this.page.id == 'about-us' %}uk-active{% endif %}"><a href="{{ 'about-us'|page }}">About Us</a></li>
<li class="{% if this.page.id == 'detalks' %}uk-active{% endif %}"><a href="https://www.instagram.com/detalksmelb/?hl=id" target="_blank">Detalks</a></li>
<li class="{% if this.page.id == 'indonation' %}uk-active{% endif %}"><a href="https://indonation.ppia-rmit.com" target="_blank">Indonation</a></li>
<li class="{% if this.page.id == 'internal-events' %}uk-active{% endif %}"><a href="{{ 'internal-events'|page }}">Internal Events</a></li>
<li class="{% if this.page.id == 'membership' %}uk-active{% endif %}"><a href="{{ 'membership'|page }}">Membership</a></li>
<li class="{% if this.page.id == 'committee' %}uk-active{% endif %}"><a href="{{ 'committee'|page }}">Committee</a></li>
<li class="{% if this.page.id == 'jobs' %}uk-active{% endif %}"><a href="{{ 'jobs'|page }}">Jobs</a></li>