==
<div class="uk-height-medium">
    <div style="position: relative;height:100%;">
        <article class="uk-text-center" style="position: absolute;top: 50%;transform: translateY(-50%);width:100%;">
            <a href="https://www.instagram.com/ppiarmit/" target="_blank"><img data-src="{{ 'assets/images/ig.png'|theme }}" class="lazy" width="64" height="64"></a>
                <h4 style="text-align:center;"><a href="https://www.instagram.com/ppiarmit/" target="_blank">Follow our instagram at @ppiarmit</a></h4>
        </article>
    </div>
</div>