title = "Page not found (404)"
url = "/404"
layout = "default"
is_hidden = 0
==
<div class="jumbotron">
    <div class="container">
        <h1>Page not found</h1>
        <p>We're sorry, but the resource you requested cannot be found. This is either because:</p>
        <ul>
          <li>There is an error in the URL entered into your web browser. Please check the URL and try again.</li>
          <li>The page you are looking for has been moved or deleted.</li>
        </ul>
    </div>
</div>