title = "Home"
url = "/"
layout = "default-noPadding"
meta_title = "PPIA RMIT"
meta_description = "Welcome to PPIA RMIT. Indonesia student association at RMIT"
is_hidden = 0
==
<section class="uk-container uk-container-expand uk-background-norepeat" style="background-image:url('{{ 'assets/images/home1.png' | theme }}'">
  <div class="uk-inline uk-width-1-1">
        <div style="height:100vh;"></div>
        <div id="welcomeText" class="uk-overlay uk-position-center" style="background-image:url('{{ 'assets/images/home2.png' | theme }}'">
           <!-- <p class="uk-text-uppercase"><span class="uk-h1 uk-text-uppercase">Welcome</span><br />to the RMIT family</p>
            <img data src="{{ 'assets/images/Party_Face.svg' | theme }}" alt="Party face" uk-img)/>
            <p>Please wait for your e-mail confirmation.</p>
        </div>
    </div>
</section>
-->
<style>
    #homepageBg:before {
        background-image: url('{{ 'assets/images/Confetti_Left.svg' | theme }}');
    }
    #homepageBg:after {
        background-image: url('{{ 'assets/images/Confetti_Right.svg' | theme }}');
    }
</style>  
<style>
 #bg{
    color: black;
    background-color:#fff5ee;
    width:100%;
    font-family: FTDisplay;
    text-align:center;
  }
  </style>