title = "Membership"
url = "/membership"
layout = "default-noPadding"
description = "Page for membership"
meta_title = "PPIA RMIT Member benefit"
meta_description = "The benefit of joining PPIA RMIT"
is_hidden = 0
==
<section class="uk-container uk-container-expand" style="background-image:url('{{ 'assets/images/membershipBg.svg' | theme }}')" id="homepageBg">
  
  <div class="uk-flex uk-flex-column uk-width-1-1 uk-child-width-1-1 uk-child-width-3-4@m uk-text-center uk-flex-middle uk-flex-center">
    <div class="uk-card uk-card-body">
        <p class="uk-text-uppercase"><span class="uk-h1 uk-text-uppercase">membership registration</span><br />steps on how to register</p>
    </div>
    
    <div class="uk-card uk-card-body uk-margin-top membership uk-flex uk-flex-center">
        <div class="uk-width-1-1 uk-width-1-2@m">
            <img data src="{{ 'assets/images/membership1.svg' | theme }}" alt="membership1" uk-img width="500%" height="500%" class="" /> 
            <div class="member-benefit__btn-container" style="background-image:url('{{ 'assets/images/membership1_explosion.svg' | theme }}')">
                <a class="btn" href="https://ppia-rmit.com/membership/register">REGISTER NOW!</a>
            </div>
        </div>
    </div>
    
    <div class="uk-card uk-card-body uk-margin-top uk-width-1-1 uk-width-1-2@m">
        <img data src="{{ 'assets/images/arrow.svg' | theme }}" alt="arrow" uk-img) width="50" height="50"/>
    </div>
    <div class="uk-card uk-card-body uk-margin-top uk-width-1-1 uk-width-1-2@m">
        <img data src="{{ 'assets/images/membership2.svg' | theme }}" alt="membership2" uk-img) width="75%" height="75%" />
    </div>
    <div class="uk-card uk-card-body uk-margin-top uk-width-1-1 uk-width-1-2@m">
        <img data src="{{ 'assets/images/arrow.svg' | theme }}" alt="arrow" uk-img) width="50" height="50"/>
    </div>
    <div class="uk-card uk-card-body uk-margin-top uk-width-1-1 uk-width-1-2@m">
        <img data src="{{ 'assets/images/membership3.png' | theme }}" alt="membership3" uk-img) />
    </div>
  </div>
</section>

{% partial 'site/memberBenefits' %}

<style>
  @font-face {
    font-family: FTDisplay;
    src: url('{{ 'https://dev.ppia-rmit.com/storage/app/media/benefit/FaroTrial-DisplayLucky.ttf' }}');
  }
  
  #bg{
    color: black;
    background-color:#fff5ee;
    width:100%;
    font-family: FTDisplay;
    text-align:center;
  }
  
  .description ul *{
    text-align: left;
  }
  
  .description ul li {
    padding: 10px 0 10px 0;
  }
</style>