title = "About Us"
url = "/about-us"
layout = "default"
meta_title = "About PPIA RMIT"
meta_description = "About our organisation"
is_hidden = 0
==
<div class="uk-container">
    <article class="uk-container uk-article">
        
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="{{ 'assets/images/groupMakrab-min.png'|theme }}" uk-cover>
                    <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">ABOUT US</h3>
                    <p>PPIA RMIT (Perhimpunan Pelajar Indonesia-Australia Royal Melbourne Institute of Technology), also known as RMIT ISA (Royal Melbourne Institute of Technology Indonesian Student Association)</p>
                </div>
            </div>
        </div><br><br>
       
       
         <div class="uk-column-1-3 uk-column-divider">
             <blockquote cite="#" class="uk-column-span">
                <p>We are a RUSU (RMIT University Student Union) based social club that celebrates the Indonesian culture and invites everyone to embrace the Indonesian community. We adhere to an organizational structure following frameworks from both PPI Australia and RUSU designed by the current executive team of PPIA RMIT. PPI Australia provides a mutually agreed AD/ART (Aturan Dasar/Aturan Rumah Tangga) which outlines both the skeleton and implementation of any PPIA organization.</p>
            </blockquote>
            
            <p>We are one of 8 different PPIAs in the state of Victoria headed by PPIA Victoria which is also one of 8 different state PPIAs in the country of Australia. Due to the nature of the different scale of PPIAs, there are multiple categories of events hosted by a range of different PPIAs. We have two different types of events: Internal Events available exclusive to PPIA RMIT members and External Events available for everyone. We are actively organizing events that behave both internally and externally to welcome students across the state of Victoria.</p><br>

            <p>We consist of seven divisions of committees: Internal, External, Marketing, Creative, Finance, Webmaster, and Documentation, supervised by an Executive team, where each division has its own delegated responsibilities. Our divisions range from two to ten members, with careful consideration for each division to provide a positive, balanced, productive, cooperative, and innovative environment whenever possible. Every single one of our committees was screened and went through an extensive interview process conducted at the start of every PPIA year which is marked by the AGM (Annual General Meeting).</p><br>

            <p>As stated in the AD/ART, the AGM, as the name suggests, is an annual meeting hosted by every PPIA organization. Details of any AGM will be provided on our channels however for the latest updates regarding any form of information we recommend you check our instagram. A special yearly report will be displayed during the AGM prior to the demissionner of the current committee. Once the report has been accepted, the current committee will be decommissioned and a voting session begins to elect the new president. The new president will then in turn select his executive team. For more information please look at the AD/ART.</p>
        </div>
        
        <br>
        <br>
        <br>
        
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>Mission</h3>
                    <p>1. Creating a warm atmosphere which welcomes and supports everyone in the PPIA Family</p>
                    <p>2. To create an ever growing standard within both internal and external events of PPIA RMIT</p>
                    <p>3. To unleash the utmost potential within each and every individual regardless of division of any kind.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <h3>Vision</h3>
            <p>Orchestrating the innovation within PPIA RMIT through developing and enhancing each individual's talents and philosophies while maintaining a warm relationship with one another.</p>
                <p>Our intention is for PPIA RMIT to constantly improve year after year, adapting to any changes we may face in the future. This year we have seen a great deal of improvement in terms of adaptation as we faced an unprecedented challenge - COVID-19. PPIA RMIT, along with its entirety of committee has the potential to become a cultural hub for Indonesian students studying in RMIT University, not just as fellow citizens of Indonesia however as a family that can support and one another to grow in each individual’s pace and environment. </p>
                <p>Our wish is for PPIA RMIT to only support one another but to develop relations with other organizations. Part of our vision is to provide the opportunity for personal growth within each and every single of our individuals, both committee and members. This is why we strive to provide corporate and career opportunities as much as possible as we believe that PPIA could be the first stepping stone towards having a professional career as students receive the chance to work as part of a larger organization in a more professional manner. On the other hand, we aim to provide an equal amount of entertainment value throughout our various events that we conduct through the year both internally and externally. Forms of both these types of events will constantly accommodate the demand that is from RMIT students and therefore our role is to serve the people rather than serve ourselves.</p>
                <p>An important aspect of the PPIA role is to provide a connection towards the Consulate General in their respective regions (KJRI Melbourne for PPIA RMIT) as we believe in unity not only amongst ourselves as Indonesians away from ‘home’ but also to the motherland. </p>
                <p>With that being said, each President has their own vision for the year to come and it would be best to listen to them directly during the Annual General Meeting. </p>
                </div>
            </div>
            
        </div>
       

   
   
   
   
   
    </article>
    
    
</div>