title = "About Us"
url = "/about-us"
layout = "default"
is_hidden = 0
==
<div class="uk-container uk-container-xsmall ">
    <article class="uk-container uk-container-xsmall uk-article">
    <center>
    <img src="{{ 'assets/images/about_us.svg' | theme }}" width="250px" />
         
      <!--  <h1 class="uk-article-title uk-text-lead">Who are we?</h1>
       </center>
        <br>
            <center>
                <img src="{{ 'assets/images/logo.png'|theme }}" width="350px" />  -->  
       
        <br>
        <p>PPIA (Perhimpunan Pelajar Indonesia-Australia) 
RMIT is a non-profit student organization based in Melbourne, Australia that operates under RMIT University. It is a platform for Indonesian students at RMIT to gather and meet other students within as well as outside the university. We hold several engaging events throughout the year as a way for students to bond, such as: Mateng (Selamat Dateng), Makrab (Makin Akrab), Genit (Game Night), as well as external events such as 
<a href="{{ 'indonation'|page }}">Indonation</a> and  <a href="{{ 'detalks'|page }}">Detalks</a></p>
    </article>
</div>
<div class="uk-child-width-expand@s uk-text-left" uk-grid>
    <div>
        <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
            <h1 class="uk-article-title uk-text-lead">Vision</h1>
            <p>To unite and channel the talent of Indonesian student at RMIT that upholds the value of unity and diversity</p>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
            <h1 class="uk-article-title uk-text-lead">Mission</h1>
            <ul>
                <li>To create a harmonious relationship and synergy with internal and external parties</li>
                <li>Creating a productive and beneficial organization for Indonesian students at RMIT University</li>
                <li>Strengthen the relationship between Indonesian students at RMIT University</li>
                <li>Develop and facilitate the potentials of PPIA RMIT members.</li>
            </ul>
        </article>
    </div>
         </center>
</div>