title = "Committee"
url = "/committee"
layout = "default-noPadding"
meta_title = "PPIA RMIT Committee"
meta_description = "The committee of PPIA RMIT"
is_hidden = 0

[CommitteeMemberComponent]
==
{% for group in CommitteeMemberComponent.getCommitteeMembers().byGroupId %}
    <h2 style="font-weight:300; padding-left:50px;">{{ group.name }}</h2>
    <hr>
    <div class="uk-grid-match uk-flex-center" uk-grid>
        {% for member in group.members %}
            <div>
                <div class="uk-card uk-card-default uk-width-medium"style="background-image:url('{{ 'assets/images/membershipBg.svg' | theme }}')" id="homepageBg">
                    <div class="uk-card-media-top" style="padding:15px 15px 0px 15px;">
                    {% if member['profilePic_type'] == 'image' %}
                        <img class="lazy uk-align-center" data-src="{{ member['profilePic'] }}" alt="Picture of {{ member['name'] }}" style= "margin-bottom: 0;"/>
                    {% elseif member['profilePic_type'] == 'video' %}
                        <video playsinline autoplay loop muted class="lazy" data-src="{{ member['profilePic'] }}">
                            <source data-src="{{ member['profilePic'] }}" type="{{ member['profilePic_type_full'] }}">
Sorry, your browser doesn't support embedded videos.
                        </video>
                    {% endif %}
                    </div>
                    <div class="uk-card-body" style= "text-align: center;">
                        <h3 class="uk-card-title" style="font-weight:350;">{{ member['name'] }}</h3>
                        {% if member['name'] == 'Nicholas Oliver' %}
                            <p>President</p>
                        {% elseif member['name'] == 'Janice Thewira' %}
                            <p>Vice President</p>
                        {% elseif member['name'] == 'Michelle Lou Christabel' %}
                            <p>Treasurer</p>
                        {% elseif member['name'] == 'Milenia Nanda' %}
                            <p>Secretary</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}