title = "Home"
url = "/"
layout = "default-noPadding"
meta_title = "PPIA RMIT"
meta_description = "Welcome to PPIA RMIT. Indonesia student association at RMIT"
is_hidden = 0
==
<?php
function onStart() {
    //$prefix_dir = 'assets/images/thank-you/';
    $images_list = [
        '/themes/ppia-rmit/assets/images/home/HOMEPAGE1-min.jpg',
        '/themes/ppia-rmit/assets/images/home/HOMEPAGE2-min.jpg',
        '/themes/ppia-rmit/assets/images/home/HOMEPAGE3-min.jpg',
    ];
    
    shuffle($images_list);
    $this->page["images"] = $images_list;
}
?>
==
<div class="uk-grid-small uk-flex-center uk-grid uk-grid-stack" style="background:#f8f8f8;" uk-grid="">
    <div class="uk-width-1-1 uk-first-column" >
        <div uk-alert="" style="padding:20px;" class="uk-alert">
            <a class="uk-alert-close" uk-close></a>
            <center>
                <h3>Notice</h3>
                <p>Stay happy! Stay safe! Stay aware of the latest information on the COVID-19 outbreak on the following websites:<br><br>
                    <a href="https://www.rmit.edu.au/students/news-and-events/news/2020/update-coronavirus" title="RMIT Update on Coronavirus (COVID-19)">RMIT Update on Coronavirus (COVID-19)</a> | <a href="https://www.dhhs.vic.gov.au/coronavirus/updates" title="Coronavirus disease (COVID-19) Updates">Victoria Government Coronavirus disease (COVID-19) Updates</a></p>
            </center>
        </div>
    </div>
</div>
<style>
.uk-alert {
    background: #ce342a;
    color: #fff;
}
</style>
<div class="uk-cover-container uk-light" uk-height-viewport="offset-top: true">
    <div class="uk-overlay uk-position-center-left uk-width-1-1" style="z-index:100;">
        <div class="uk-flex-center uk-text-center uk-text-left@s" uk-grid>
            <div class="uk-width-1-1 uk-width-3-4@s">
                <p class="uk-heading-primary uk-visible@s" style="color:#fff;">Become a<br>Member Now</p>
                <p class="uk-hidden@s" style="color:#fff; font-size:24pt;">Become a<br>Member Now</p>
                <a href="{{ 'register-member'|page }}"><button class="uk-button uk-button-primary uk-button-large">Register</button></a>
            </div>
        </div>
    </div>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay:true;animation: fade;ratio: false;pause-on-hover:false;">
    
        <ul class="uk-slideshow-items" uk-height-viewport>
            {% for image in this.page.images %}
            <li>
                <div class="uk-position-cover uk-transform-origin-center-left">
                    <img data-src="{{ image }}" alt="" uk-cover width="2500" height="1667" class="lazy">
                </div>
            </li>
            {% endfor %}
        </ul>
    
    </div>
</div>

{% partial 'event/plannedEvent' %}
 <!--  <link rel="stylesheet" href="road-style.css" type="text/css" />
    <div id="road-container">
      <div id="road-texts_container">
        <img class="road_flag" id="road_flag" width="50px" height="50px" src="flag.svg" />

        <div class="road_texts" data-order="0">
          <h2>26 Feb</h2>
          <p>Mateng online</p>
        </div>

        <div class="road_texts" data-order="1">
          <h2>5 March</h2>
          <p>Welcoming Night w/ Swindburne</p>
        </div>

        <div class="road_texts" data-order="2">
          <h2>16 APRIL</h2>
          <p>Networking With Alumni</p>
        </div>

        <div class="road_texts" data-order="3">
          <h2>30 APRIL</h2>
          <p>Detalks Pre-event</p>
        </div>

        <div class="road_texts" data-order="4">
          <h2>8 May</h2>
          <p>Genit (Game Night)</p>
        </div>

        <div class="road_texts" data-order="5">
          <h2>28-29 MAY</h2>
          <p>Detalks</p>
        </div>
      </div>
    <svg enable-background="new 0 0 537 873" viewBox="0 0 537 873" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><linearGradient id="road-root"><stop offset=".7295" stop-color="#ee7b6c"/><stop offset=".7802" stop-color="#eb796b"/><stop offset=".8231" stop-color="#e07567"/><stop offset=".8631" stop-color="#cf6d61"/><stop offset=".8733" stop-color="#c96a5f"/></linearGradient><radialGradient id="b" cx="46.9213" cy="551.2922" gradientTransform="matrix(.7796 .6263 -.6263 .7796 614.5587 19.6526)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="c" cx="-173.5179" cy="783.8171" gradientTransform="matrix(.4371 .8994 -.8994 .4371 945.4849 303.0022)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="d" cx="159.6611" cy="391.8171" gradientTransform="matrix(.9233 .3842 -.3842 .9233 385.435 -22.7506)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="e" cx="120.6723" cy="275.991" gradientTransform="matrix(.942 .3356 -.3356 .942 383.9753 -22.9034)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="f" cx="36.3209" cy="11.5527" gradientTransform="matrix(.9402 .3406 -.3406 .9402 476.8195 -3.7967)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="g" cx="25.8669" cy="105.3278" gradientTransform="matrix(.8573 .5148 -.5148 .8573 546.3346 6.3798)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="h" cx="-23.4084" cy="252.203" gradientTransform="matrix(.7325 .6808 -.6808 .7325 656.365 34.0021)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="i" cx="71.3744" cy="704.1968" gradientTransform="matrix(.9179 .3967 -.3967 .9179 336.8483 -84.0525)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="j" cx="322.2737" cy="730.6677" gradientTransform="matrix(.996 .08925309 -.08925309 .996 -67.2371 -48.5547)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="k" cx="175.6593" cy="902.9377" gradientTransform="matrix(.7796 .6263 -.6263 .7796 614.5587 19.6526)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><radialGradient id="l" cx="-102.476" cy="1324.2502" gradientTransform="matrix(-.09929773 .9951 -.9951 -.09929773 1365.2958 1061.4445)" gradientUnits="userSpaceOnUse" r="7.9949" xlink:href="#road-root"/><path d="m526.5 3.4c3.8 4.3-1.9 17.2-2.8 22.9-.9 5.6.3 16.9 0 22.6-.4 7.6-2.2 22.9-2 30.5.3 11.1 4.1 33 4.8 44.1 1.2 10.5.3 19.7-3.7 28.4-3.2 7-18.8 27.9-21.8 35-5.4 12.9-21.6 22.2-29.3 29-4.1 3.6-13.7 8.4-13.7 8.4l-23.4 2.8s-11.8 22.1-13.9 30.2c-2.4 9.4-2 29.4-5.2 38.6-2.7 14.9-20 32.6-20 32.6s-9.8 17.4-11.7 23.8c-.6 2-.6 6.3 0 8.2 1.5 4.8 8.7 12.4 11.7 16.6 2.5 3.6 7.8 11.2 8.4 15.5.7 5.5-3.9 16.4-6.3 21.4-3.2 6.5-12.9 17.7-18.2 22.7-5.1 4.8-22.6 16.3-22.6 16.3s-19.1 13.7-24.8 19.1c-5.3 5-14.3 16.6-20.2 20.8-7.1 5-23.8 11-32.3 12.4-19.6 3.3-28.5-7.3-37.8-10.5-7-2.4-21-8.7-28.4-9-7.2-.3-21.4 4.8-27.8 8.2-9.1 4.8-24 19.7-30.2 27.9-6.5 8.7-14.5 29.4-16.6 40-1.1 5.5 0 22.4 0 22.4s2.1 16.5 4.4 21.8c3.8 8.9 22.5 32.2 22.5 32.2s9.6 11.6 12 16c3 5.6 8.3 23.9 8.3 23.9s14.4 26.3 18.5 35.4c3 6.8 7.8 21 10.5 27.9 2.5 6.6 7.8 20 7.9 27 1.1 10.5-3.7 18.9-7 28.6-1.6 7-4.5 21.3-8 27.6-8.9 16.2-19.8 41.5-56.1 48-35.3 5.6-59-19.9-78.9-26-7.7-2.4-24.4-6.9-31.6-6.5-28.5 1.4-41.2 14.6-41.2 14.6v-31.4s11.8-7.2 23.8-7.9c17.8-1 54.7 3.1 75.5 14.7 12.8 7.1 42.6 11.7 69.9-5 11.3-6.4 21.6-55.6 23.7-65.9 3.8-17.8-19.3-44.4-26.2-61.2-5.3-13-19.7-37.3-27-49.3-7.1-8.1-18.1-27-22.1-35.8-5.8-12.8-10.6-37.6-10.8-51.6-.2-17.1 11.3-51.7 22.4-64.7 21.8-19.5 50.5-26.6 68-29.6 19.1-4.5 36.6 9.2 72.4 9.2 16.5.2 28.1-7.3 47.9-30.4 10.7-10.9 22.6-15.3 34.3-23.2 6.3-4.3 16-12.7 17.1-25.3.5-6-7.6-19.6-8.8-34.5s4.6-31.2 6-37.1c3.7-15.5 20.7-36.7 27.3-51.2 5.5-12.3 12.4-40.7 24.5-54.8 8.2-7 38.6-27.1 48.6-34.8 20.7-11.9 20.7-28.2 24.2-34.3 4.4-7.6 11.9-23.1 12.6-34.3s-1.2-17.7-4.3-34.4c1.1-15-3.9-33.8-4.9-38.9-5.6-30.6-3.5-39.8-3.5-39.8s30-6.6 35.9.1z" fill="#ece3bf"/><path d="m290.9 471.9-1.1 5.1 7.4 2.4s-.6 6 4.2 9c7.9 4.1 12.6-2.4 12.6-2.4l3.7 1.2 4.2-4.2-5.4-1.5s1.3-8-5.6-11-12.1 4.2-12.1 4.2z" fill="#dfd7ba"/><path d="m289.7 471.7 9.6 3.6s4.7-6.2 10.8-4.3c7.2 2.2 5.9 10.8 5.9 10.8l11.6 3.7-3.3 3.6-6-2.2-4.2-1.4s-4.3 6.2-11.5 3c-5.5-3.6-4.6-9-4.6-9l-19.6-8.2 3.5-2.4z" fill="#f3eae5"/><path class="road-point" data-order="5" d="m311.9 483.4c-2 2.5-5.7 2.8-8.2.8s-3-5.7-1-8.2 5.7-2.8 8.2-.8c2.6 2 3 5.7 1 8.2z" fill="url(#b)"/><circle cx="307.2" cy="475.5" fill="#fcc5bb" r=".6"/><path d="m304.6 476.4c.2-.1.9-.3 1.1-.1.1.1.1.4 0 .5-.2.4-1.1.8-1.3 1.2s-.4 1.4-.8 1.1c-.3-.2-.1-1.2 0-1.6.2-.3.7-.9 1-1.1z" fill="#fcc5bb"/><path d="m157.5 478.7-6.6 2.4 5.7 5.4s-3.1 5.2-.1 10c5.4 7.1 12.5 3.2 12.5 3.2l2.8 2.7 5.6-2-4.2-3.6s4.6-6.6-.4-12.3-12-1.7-12-1.7z" fill="#dfd7ba"/><path d="m154.3 475.3 5.9 8.2s6.9-3.6 11.6.8c5.6 5 .8 12.3.8 12.3l8.9 8.3-4.5 1.8-4.5-4.6-3.2-3s-6.5 3.7-11.7-2.2c-3.5-5.6-.3-10.1-.3-10.1l-14.4-15.8 4.1-.7z" fill="#f3eae5"/><path class="road-point" data-order="6" d="m168.2 496.3c-2.9 1.4-6.3.2-7.8-2.8-1.4-2.9-.2-6.4 2.6-7.8 2.9-1.4 6.3-.2 7.8 2.8s.3 6.4-2.6 7.8z" fill="url(#c)"/><ellipse cx="167.2" cy="487.1" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.4274 -.9041 .9041 .4274 -344.6331 430.1192)"/><path d="m164.6 486.8c.3 0 .9.1 1.1.4 0 .1-.1.4-.2.5-.3.3-1.3.3-1.7.6s-1 1.1-1.2.7c-.2-.3.4-1.2.7-1.4.2-.4.9-.8 1.3-.8z" fill="#fcc5bb"/><path d="m366.1 397.9.4 5.2 7.8.3s1.1 5.9 6.5 7.5c8.7 1.7 11.4-5.9 11.4-5.9l3.9.1 2.9-5.2-5.6.1s-.9-8-8.5-9c-7.5-.9-10.5 7.4-10.5 7.4z" fill="#dfd7ba"/><path d="m364.8 398 10.2.7s2.7-7.3 9.2-7.1c7.5.1 8.7 8.7 8.7 8.7l12.1.3-2.2 4.3-6.4-.4-4.4-.1s-2.4 7.1-10.2 6.1c-6.3-1.9-6.9-7.4-6.9-7.4l-21.1-2.4 2.7-3.2z" fill="#f3eae5"/><path class="road-point" data-order="4" d="m389.4 403c-1.2 2.9-4.6 4.3-7.6 3.1s-4.4-4.6-3.2-7.6c1.2-2.9 4.6-4.3 7.6-3.1 3 1.3 4.5 4.7 3.2 7.6z" fill="url(#d)"/><ellipse cx="382.6" cy="396.8" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.9604 -.2787 .2787 .9604 -95.4444 122.3883)"/><path d="m380.4 398.4c.2-.2.8-.5 1.1-.4.1.1.2.4.1.5-.1.4-.8 1.1-.9 1.5-.1.5 0 1.5-.5 1.3-.3-.1-.5-1.1-.4-1.5s.4-1.2.6-1.4z" fill="#fcc5bb"/><path d="m388.7 276 .8 6.2 8-.2s1.1 4.9 6.6 6.2c8.8 1.3 11.1-6.4 11.1-6.4l3.9-.1-1.8-5.9h-1.3s-1.2-7.2-8.7-7.7c-7.6-.5-10.1 7.9-10.1 7.9z" fill="#dfd7ba"/><path d="m387.4 276.2 10.2.2s2.4-7.4 8.8-7.6c7.5-.3 8.9 7.4 8.9 7.4l12.3.5-1.9 4.4-6.4-.1-4.4.1s-2 7.2-9.9 6.6c-6.4-1.6-7.3-7-7.3-7l-21.2 1.8 2.5-6.4z" fill="#f3eae5"/><path class="road-point" data-order="3" d="m412.3 279.9c-1.1 3-4.4 4.5-7.5 3.5-3.1-1.1-4.7-4.4-3.6-7.4s4.4-4.5 7.5-3.5c3 1.1 4.6 4.4 3.6 7.4z" fill="url(#e)"/><ellipse cx="405.2" cy="274" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.9446 -.3283 .3283 .9446 -67.5162 148.2181)"/><path d="m403 275.7c.2-.2.8-.6 1-.5.1.1.2.4.2.5 0 .4-.7 1.1-.8 1.6s.1 1.5-.4 1.3c-.4-.1-.5-1.1-.5-1.5s.3-1.1.5-1.4z" fill="#fcc5bb"/><path d="m490.7 17.7.6 5.2 7.8-.1s1.4 5.8 6.9 7.2c8.8 1.3 11.2-6.4 11.2-6.4l3.9-.1 2.6-5.4-5.5.3s-1.3-8-8.9-8.5c-7.6-.6-10.1 7.9-10.1 7.9z" fill="#dfd7ba"/><path d="m489.4 18 10.2.3s2.4-7.4 8.9-7.5c7.5-.3 9.1 8.3 9.1 8.3l12.1-.3-2 4.4-6.4-.1-4.4.1s-2.1 7.2-9.9 6.6c-6.4-1.6-7.3-7-7.3-7l-21.2-1.4 2.5-3.4z" fill="#f3eae5"/><path class="road-point" data-order="0" d="m514.2 21.8c-1.1 3-4.4 4.5-7.5 3.4s-4.7-4.4-3.6-7.4 4.4-4.5 7.5-3.4 4.7 4.4 3.6 7.4z" fill="url(#f)"/><ellipse cx="507.2" cy="15.9" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.9463 -.3233 .3233 .9463 22.0914 164.808)"/><path d="m505 17.5c.2-.2.8-.6 1-.5.1.1.2.4.2.5 0 .4-.7 1.1-.8 1.6s.1 1.5-.4 1.3c-.4-.1-.5-1.1-.5-1.5.1-.3.3-1.1.5-1.4z" fill="#fcc5bb"/><path d="m498.6 105.2-.4 5.2 7.7 1.4s.3 6 5.4 8.4c8.4 3 12.2-4.1 12.2-4.1l3.9.7 3.6-4.8-5.5-.7s.2-8.1-7.1-10.1-11.4 5.8-11.4 5.8z" fill="#dfd7ba"/><path d="m497.3 105.2 10 2.2s3.8-6.8 10.1-5.7c7.4 1.2 7.3 9.9 7.3 9.9l11.9 2.1-2.8 4-6.3-1.3-4.4-.8s-3.4 6.7-11 4.5c-5.9-2.8-5.8-8.3-5.8-8.3l-20.6-5.4 3.1-2.8z" fill="#f3eae5"/><path class="road-point" data-order="1" d="m520.9 113.7c-1.6 2.7-5.2 3.6-8 1.9s-3.7-5.2-2.1-8c1.6-2.7 5.2-3.6 8-1.9s3.8 5.2 2.1 8z" fill="url(#g)"/><ellipse cx="515.1" cy="106.6" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.9908 -.1356 .1356 .9908 -9.6924 70.8562)"/><path d="m512.7 107.8c.2-.2.9-.4 1.1-.2.1.1.1.4.1.5-.1.4-.9 1-1.1 1.4-.1.4-.2 1.5-.7 1.2-.3-.2-.3-1.2-.2-1.6s.5-1.1.8-1.3z" fill="#fcc5bb"/><path d="m455.1 192.4-4.2 5.6 7 3.4s-1.4 5.8 2.9 9.5c7.3 5.1 12.2-.2 12.2-.2l2.9 2.3 6-4.8-5.1-2.2s2.4-7.7-4.1-11.6-11.8 1.8-11.8 1.8z" fill="#dfd7ba"/><path d="m453.5 192 7 5.6s5.4-5.5 11.3-2.8c6.8 3.1 4.4 11.5 4.4 11.5l11 5.2-3.7 3.1-6.4-1.7-3.9-2.7s-4.5 5-11.2.9c-5-4.3-3.4-9.5-3.4-9.5l-18.4-10.7 3.8-1.9z" fill="#f3eae5"/><path class="road-point" data-order="2" d="m473.2 207.8c-2.2 2.3-5.9 2.4-8.2.2-2.4-2.2-2.6-5.9-.4-8.2s5.9-2.4 8.2-.2c2.4 2.1 2.6 5.8.4 8.2z" fill="url(#h)"/><ellipse cx="469" cy="199.6" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.07204098 -.9974 .9974 .07204098 236.1664 653.0239)"/><path d="m466.4 200.3c.3-.1.9-.2 1.1 0 .1.1 0 .4 0 .5-.2.4-1.1.7-1.3 1.1s-.5 1.4-.9 1.1c-.3-.3 0-1.2.1-1.6.2-.4.7-1 1-1.1z" fill="#fcc5bb"/><path d="m106.8 588 .3 5.2 7.8.4s1.1 5.9 6.4 7.6c8.7 1.9 11.5-5.7 11.5-5.7l3.9.2 2.9-5.2h-5.6s-.8-8-8.4-9.1c-7.5-1-10.6 7.2-10.6 7.2z" fill="#dfd7ba"/><path d="m105.5 588.1 10.2.9s2.8-7.2 9.3-7c7.5.2 8.6 8.8 8.6 8.8l12.1.5-2.2 4.3-6.4-.5-4.4-.2s-2.5 7.1-10.3 6c-6.2-2-6.8-7.4-6.8-7.4l-21.1-2.7 2.7-3.2z" fill="#f3eae5"/><path class="road-point" data-order="7" d="m130.1 593.4c-1.3 2.9-4.7 4.2-7.7 3-3-1.3-4.4-4.7-3.1-7.6s4.7-4.2 7.7-3c2.9 1.3 4.3 4.7 3.1 7.6z" fill="url(#i)"/><ellipse cx="123.4" cy="587.2" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.9641 -.2656 .2656 .9641 -151.5293 53.8596)"/><path d="m121.1 588.7c.2-.2.8-.5 1.1-.4.1.1.2.4.1.5-.1.4-.8 1.1-.9 1.5-.1.5 0 1.5-.5 1.3-.3-.1-.5-1.1-.4-1.5s.4-1.2.6-1.4z" fill="#fcc5bb"/><path d="m172.3 710.5 1.9 4.8 7.5-2.1s2.9 5.3 8.5 5.2c8.8-1 9.2-9 9.2-9l3.8-1.1 1.1-5.9-5.3 1.7s-3.3-7.4-10.8-6-7.8 10.2-7.8 10.2z" fill="#dfd7ba"/><path d="m171.1 711 9.9-2.3s.4-7.7 6.6-9.5c7.2-2.2 10.9 5.7 10.9 5.7l11.7-3.3-.8 4.8-6.2 1.5-4.2 1.1s-.1 7.5-7.9 8.9c-6.6.1-8.8-4.9-8.8-4.9l-20.9 4.1 1.6-3.9z" fill="#f3eae5"/><path class="road-point" data-order="8" d="m196.1 708.4c-.3 3.2-3.1 5.5-6.4 5.2s-5.6-3.1-5.3-6.3 3.1-5.5 6.4-5.2 5.6 3.1 5.3 6.3z" fill="url(#j)"/><ellipse cx="187.8" cy="704.5" fill="#fcc5bb" rx=".6" ry=".6" transform="matrix(.8324 -.5542 .5542 .8324 -358.965 222.153)"/><path d="m186.1 706.6c.1-.2.6-.7.9-.7.1 0 .3.3.3.4.1.4-.4 1.3-.4 1.7.1.5.4 1.4-.1 1.4-.4 0-.8-.9-.9-1.3 0-.3.1-1.1.2-1.5z" fill="#fcc5bb"/><path d="m171.1 826.7-1.1 5.1 7.4 2.4s-.6 6 4.2 9c7.9 4.1 12.6-2.4 12.6-2.4l3.7 1.2 4.2-4.2-5.4-1.5s1.3-8-5.6-11c-7-3-12.1 4.2-12.1 4.2z" fill="#dfd7ba"/><path d="m169.8 826.5 9.6 3.6s4.7-6.2 10.8-4.3c7.2 2.2 5.9 10.8 5.9 10.8l11.6 3.7-3.3 3.6-6-2.2-4.2-1.4s-4.3 6.2-11.5 3c-5.5-3.6-4.6-9-4.6-9l-19.6-8.2 3.5-2.4z" fill="#f3eae5"/><path class="road-point" data-order="9" d="m192.1 838.1c-2 2.5-5.7 2.8-8.2.8s-3-5.7-1-8.2 5.7-2.8 8.2-.8c2.5 2.1 3 5.8 1 8.2z" fill="url(#k)"/><circle cx="187.3" cy="830.3" fill="#fcc5bb" r=".6"/><path d="m184.7 831.2c.2-.1.9-.3 1.1-.1.1.1.1.4 0 .5-.2.4-1.1.8-1.3 1.2s-.4 1.4-.8 1.1c-.3-.2-.1-1.2 0-1.6.2-.3.7-1 1-1.1z" fill="#fcc5bb"/><path d="m55.4 811.7-4.9 1.9 2 7.5s-5.3 2.8-5.3 8.4c.9 8.9 8.9 9.2 8.9 9.2l1 3.8 5.9 1.2-1.7-5.3s7.4-3.2 6.1-10.7-10.1-7.9-10.1-7.9z" fill="#dfd7ba"/><path d="m54.9 810.5 2.2 10s7.7.5 9.5 6.7c2.1 7.2-5.8 10.8-5.8 10.8l3.2 11.7-4.8-.8-1.5-6.3-1.1-4.3s-7.5-.2-8.8-8c0-6.6 5-8.8 5-8.8l-3.8-20.8 3.9 1.6z" fill="#f3eae5"/><path class="road-point" data-order="10" d="m57.3 835.5c-3.2-.3-5.5-3.2-5.2-6.4s3.2-5.6 6.3-5.3c3.2.3 5.5 3.2 5.2 6.4-.3 3.3-3.2 5.7-6.3 5.3z" fill="url(#l)"/><g fill="#fcc5bb"><ellipse cx="61.2" cy="827.3" rx=".6" ry=".6" transform="matrix(.8379 -.5458 .5458 .8379 -441.5721 167.4907)"/><path d="m59.1 825.6c.2.1.7.6.7.9 0 .1-.3.3-.4.3-.4.1-1.3-.4-1.7-.4-.5.1-1.4.4-1.4-.1 0-.4 1-.8 1.3-.9.4 0 1.2 0 1.5.2z"/></g></svg>
    </div>

    <script>
    (function () {
    const ORIGIN_H_LEFT = 0
    const ORIGIN_H_RIGHT = 1
    const ORIGIN_V_TOP = 2
    const ORIGIN_V_BOTTOM = 4
    const ORIGIN_V_CENTER = 8
    const ORIGIN_H_CENTER = 16

    function repositionRoadTexts () {
      const canvasW = 537
      const canvasH = 873

      const masterContainer = document.getElementById('road-container')
      const root = document.getElementById("road-root")
      const points = document.getElementsByClassName('road-point')
      const texts = document.getElementsByClassName('road_texts')
      const flag = document.getElementById('road_flag')

      const origins = [
        ORIGIN_H_RIGHT | ORIGIN_V_CENTER,
        ORIGIN_H_RIGHT | ORIGIN_V_CENTER,
        ORIGIN_H_LEFT | ORIGIN_V_TOP,
        ORIGIN_H_LEFT | ORIGIN_V_TOP,
        ORIGIN_H_LEFT | ORIGIN_V_CENTER,
        ORIGIN_H_RIGHT | ORIGIN_V_BOTTOM,
      ]

      for (let i = 0; i < points.length; ++i) {
        const pointOrder = Number.parseInt(points[i].dataset.order)

        // Only reposition texts with point order that is in range with the
        // amount of texts
        if (pointOrder < texts.length) {
          const bbox = points[i].getBBox()

          let x = (bbox.x / canvasW) * masterContainer.clientWidth
          let y = (bbox.y / canvasH) * masterContainer.scrollHeight

          // Special case for the flag image
          if (pointOrder == 0) {
            flag.style.left = `${x - bbox.width}px`
            flag.style.top = `${y - flag.scrollHeight + (bbox.height * 3)}px`
          }

          if ((origins[pointOrder] & ORIGIN_H_RIGHT) == ORIGIN_H_RIGHT) {
            x -= texts[pointOrder].scrollWidth
            texts[pointOrder].style.textAlign = 'right'
          }
          if ((origins[pointOrder] & ORIGIN_V_BOTTOM) == ORIGIN_V_BOTTOM) {
            y -= texts[pointOrder].scrollHeight
          } else if ((origins[pointOrder] & ORIGIN_V_CENTER) == ORIGIN_V_CENTER) {
            y -= (texts[pointOrder].scrollHeight) / 2
          }

          texts[pointOrder].style.left = `${x}px`
          texts[pointOrder].style.top = `${y}px`
        }
      }
    }

    window.addEventListener('resize', function () {
      repositionRoadTexts()
    })

    repositionRoadTexts()
    })()
    </script>
    -->