title = "Jobs"
url = "/jobs/:page?/:slug?"
layout = "default-noPadding"
is_hidden = 0

[jobShop]
resultsPerPage = 10
page = "{{ :page }}"
slug = "{{ :slug }}"

[featuredJobs]

[filterscript]

[search]
==
<div class="uk-background-muted uk-padding uk-panel uk-margin">
  {% component 'featuredJobs' %}
</div>
{% component 'search' %}
<div class="uk-padding uk-panel uk-margin">
  {% component 'jobShop' %}
</div>
{% component 'filterscript' %}