title = "Project-O"
url = "/project-o"
layout = "default-noPadding"
description = "Page for Project-O"
is_hidden = 0
==
<div class="uk-cover-container" uk-height-viewport="offset-top: true">
    <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="uk-text-large">We've change our name to Indonation</h2>
        <h3 uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><a href="https://indonation.ppia-rmit.com" target="_blank">New Page</a></h3>
    </div>
</div>