title = "Thank You for Registering"
url = "/membership/register/success"
layout = "default-noPadding"
is_hidden = 0
==
<section class="uk-container uk-container-expand" style="background-image:url('{{ 'assets/images/Home_BG.svg' | theme }}')" id="homepageBg">
  <div class="uk-inline uk-width-1-1">
        <div style="height:100vh;"></div>
        <div id="welcomeText" class="uk-overlay uk-position-center uk-text-center">
            <p class="uk-text-uppercase"><span class="uk-h1 uk-text-uppercase">Welcome</span><br />to the RMIT family</p>
            <img data src="{{ 'assets/images/Party_Face.svg' | theme }}" alt="Party face" uk-img)/>
            <p>Please wait for your e-mail confirmation.</p>
        </div>
    </div>
</section>

<style>
    #homepageBg:before {
        background-image: url('{{ 'assets/images/Confetti_Left.svg' | theme }}');
    }
    #homepageBg:after {
        background-image: url('{{ 'assets/images/Confetti_Right.svg' | theme }}');
    }
</style>