body, * {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: Helvetica !important;
}

#layout-content {
    min-height:100vh;
}

.uk-offcanvas-bar {
    background: #fff;
}

.uk-offcanvas-bar .uk-nav-primary>li>a {
    font-size: 24px;
    line-height: 1.5;
    color: #999;
}

.uk-offcanvas-bar .uk-nav-primary>li>a:hover, .uk-offcanvas-bar .uk-nav-primary>li>a:focus {
    color: #666;
}

.uk-offcanvas-bar .uk-nav-primary>li.uk-active>a {
    color: #222;
}

.uk-offcanvas-bar .uk-close {
    color: #999;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
    transform-origin: 100% 0%;
    transform: scale(2);
}

.uk-offcanvas-bar .uk-close:hover {
    color: #666;
}