==
<!-- Nav -->
<div id="navContainer" uk-sticky="media: 960" class="uk-navbar-container tm-navbar-container uk-sticky">
    <div class="uk-container uk-container-expand uk-navbar-container uk-navbar-transparent">
        <nav class="uk-navbar-container uk-margin uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a href="{{ 'societal-project'|page }}" class="uk-navbar-item uk-logo" data-bcup-haslogintext="no">
                    <img src="{{ "assets/images/sp_assets/sp_logo.png"|theme }}" class="uk-margin-small-right" style="height:60px;width:auto;">
                </a>
			</div>

            <div class="uk-navbar-right">
				<ul class="uk-navbar-nav uk-visible@s">
                    {% partial 'site/navbarLinks' %}
                </ul>
                <div class="uk-hidden@s">
                   <button class="uk-navbar-toggle" uk-navbar-toggle-icon type="button" uk-toggle="target: #mobileNav"></button>
                </div>
            </div>
        </nav>
    </div>
    
    <div id="mobileNav" uk-offcanvas="flip: true; overlay: true" class="uk-offcanvas">
        <div class="uk-offcanvas-bar uk-width-1-1">
    
            <button class="uk-offcanvas-close" type="button" uk-close></button>
    
            <p>
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    {% partial 'site/navbarLinks' %}
                </ul>
            </p>
    
        </div>
    </div>
</div>