==
<li class="{% if this.page.id == 'about' %}uk-active{% endif %}"><a href="{{ 'societal-project'|page }}#venue">Venue</a></li>
<li class="{% if this.page.id == 'venue' %}uk-active{% endif %}"><a href="{{ 'gallery'|page }}">Gallery</a></li>
<li class="{% if this.page.id == 'gallery' %}uk-active{% endif %}"><a href="{{ 'gallery'|page }}">Contact Us</a></li>