[googleTracker]
==
<!-- Scripts -->
        <script src="{{ 'assets/vendor/lazyload.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/instantclick.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/UIKit/uikit.min.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        {% component 'googleTracker' %}
        {% framework extras %}
        {% scripts %}

        <script data-no-instant>
            var myLazyLoad = new LazyLoad({
              elements_selector: ".lazy"
            });
            InstantClick.on('change', function(url, body, title) {
                console.log('updated')
                if (myLazyLoad) {
                    myLazyLoad.update();
                }
            })
            InstantClick.on('receive', function(url, body, title) {
                return {
                  body: body,
                  title: title
                };
            });
            
            InstantClick.init();
        </script>
    </body>
</html>