title = "Committee"
url = "/committee"
layout = "default"
meta_title = "PPIA RMIT Committee"
meta_description = "The committee of PPIA RMIT"
is_hidden = 0

[CommitteeMemberComponent]
==
{% for group in CommitteeMemberComponent.getCommitteeMembers().byGroupId %}
    <h2 style="font-weight:300;">{{ group.name }}</h2>
    <hr>
    <div class="uk-grid-match uk-flex-center" uk-grid>
        {% for member in group.members %}
            <div>
                <div class="uk-card uk-card-default uk-width-medium">
                    <div class="uk-card-media-top">
                    {% if member['profilePic_type'] == 'image' %}
                        <img class="lazy uk-align-center" data-src="{{ member['profilePic'] }}" alt="Picture of {{ member['name'] }}" />
                    {% elseif member['profilePic_type'] == 'video' %}
                        <video playsinline autoplay loop muted class="lazy" data-src="{{ member['profilePic'] }}">
                            <source data-src="{{ member['profilePic'] }}" type="{{ member['profilePic_type_full'] }}">
Sorry, your browser doesn't support embedded videos.
                        </video>
                    {% endif %}
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title" style="font-weight:200;">{{ member['name'] }}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}