title = "Home"
url = "/"
layout = "default-noPadding"
meta_title = "PPIA RMIT"
meta_description = "Welcome to PPIA RMIT. Indonesia student association at RMIT"
is_hidden = 0
==
<section>
    <div style="position: relative; min-height:calc(100vh - 81px); width:100%;">
        <div class="uk-overlay uk-position-center-left uk-width-1-1">
            <div class="uk-flex-center uk-text-left@s uk-grid uk-grid-stack" uk-grid>
                <div class="uk-width-1-1 uk-width-4-5@m uk-width-3-4@s uk-first-column">
                    <h1 class="uk-heading-medium" style="font-weight:lighter">Welcome to PPIA RMIT.<br>RMIT's Indonesian Student Association.</h1>
                </div>
            </div>
        </div>
    </div>
</section>