title = "Thank You for Registering"
url = "/membership/register/success"
layout = "default"
is_hidden = 0
==
<div class=uk-container" uk-height-viewport="offset-top:true"> 
    <div class="uk-position-center"> 
        <div class="uk-flex uk-flex-center" style="text-align:center;"> 
            <div class="uk-width-1-1@s uk-width-3-4"><h1 class="uk-heading-large" style="font-weight:lighter;display:inline;">Welcome&nbsp;to the&nbsp;Family.</h1></div> 
        </div> 
        <div class="uk-flex uk-flex-center uk-margin-large-top"> 
            <div> 
                <p style="text-align:center">You have been registered. Our team will contact you for your card.</p> 
            </div> 
        </div> 
    </div> 
</div>