title = "Vision & Mission"
url = "/vision-mission"
layout = "default"
meta_title = "PPIA RMIT Vision and Mission"
meta_description = "Our vision and mission as an organisation"
is_hidden = 0
==
<div class="uk-child-width-expand@s uk-text-left" uk-grid>
    <div>
        <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
            <h1 class="uk-article-title uk-text-lead">Vision</h1>
            <p>To unite and channel the talent of Indonesian student at RMIT that upholds the value of unity and diversity</p>
        </article>
    </div>
    <div>
        <article class="uk-card uk-card-muted uk-card-body uk-background-transparent">
            <h1 class="uk-article-title uk-text-lead">Mission</h1>
            <ul>
                <li>To create a harmonious relationship and synergy with internal and external parties</li>
                <li>Creating a productive and beneficial organization for Indonesian students at RMIT University</li>
                <li>Strengthen the relationship between Indonesian students at RMIT University</li>
                <li>Develop and facilitate the potentials of PPIA RMIT members.</li>
            </ul>
        </article>
    </div>
</div>