==
<div class="uk-cover-container uk-height-medium">
    <div class="uk-position-center uk-position-small uk-text-center" style="z-index:100;">
        <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">We currently have no event planned</h2>
        <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">Follow our social media and get the latest info about our event</p>
        <a href="https://www.instagram.com/ppiarmit/" target="_blank"><img data-src="{{ 'assets/images/ig.png'|theme }}" class="lazy" width="64" height="64"></a>
    </div>
</div>