{% flash %}
<p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5">
  {{ message }}
</p>
{% endflash %}
<script>
  window.addEventListener("ajaxErrorMessage",function(a){a.preventDefault()});function formErrorHandler(a){let b=a.responseJSON.message;$.oc.flashMsg({text:b,class:"error"});grecaptcha.reset()}setTimeout(function(){document.getElementById('buyTicketForm').addEventListener('submit',function(){setTimeout(function(){grecaptcha.reset()},500)})},500)
</script>

<form id="buyTicketForm" class="uk-width-4-5@s" data-request="{{ __SELF__ }}::onSubmitForm" data-request-success="location.href='/buy-ticket/success'" data-request-error="formErrorHandler(jqXHR)" data-request-validate id="registrationForm">

  <div class="uk-grid-small uk-child-width-1-4@s uk-flex-center" uk-grid>
    <div class="uk-grid uk-width-1-1">
      <div class="uk-width-3-5@m uk-margin-medium-bottom">
        <div class="uk-grid uk-grid-small">
          <legend class="uk-legend">Your Ticket</legend>
          <div class="uk-width-1-1 uk-width-1-3@s">
            <label class="uk-form-label" for="form-stacked-text">How many ticket would you like to buy?</label>
            <div class="uk-form-controls">
              <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>
                <div class="uk-width-1-2"><input class="uk-input" type="number" name="ticketCount" min="1" max="99" value="1" style="text-align: center;" id="ticketCountInput"></div>
                <div class="uk-width-1-2">
                  <div class="uk-background-muted" style="vertical-align: middle;height: 100%;line-height: 38px;color:#130b1c" id="ticketLabel">Ticket</div>
                </div>
              </div>
            </div>
          </div>
          <script>
            (function(){function a(a){let c=0;a?c=a:Number.parseInt(this.value),b.innerText="Ticket",1!==c&&(b.innerText+="s")}let b=document.getElementById("ticketLabel"),c=document.getElementById("ticketCountInput");c.addEventListener("change",function(){let b=Number.parseInt(this.value);(Number.isNaN(b)||0>=b)&&(b=1),99<b&&(b=99),this.value=b,a(b)}),c.addEventListener("keyup",a)})();
            </script>

          <legend class="uk-legend uk-margin-medium-top">Your Details</legend>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">First Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" name="firstName" placeholder="ex: John">
              <div data-validate-for="firstName"></div>
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Last Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" name="lastName" placeholder="ex: Doe">
              <div data-validate-for="lastName"></div>
            </div>
          </div>

          <legend class="uk-legend uk-margin-medium-top">Your Contact</legend>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Email</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="email" name="email" uk-icon="icon: mail" placeholder="ex: yourName@example.com">
              <div data-validate-for="email"></div>
            </div>
          </div>
          <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
            <div class="uk-form-controls">
              <input class="uk-input" type="text" name="phoneNumber" uk-icon="icon: receiver" placeholder="ex: 0 434 xxx xxx">
              <div data-validate-for="phoneNumber"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="uk-width-2-5@m">
        <div>
          <div class="uk-card uk-card-secondary uk-card-hover uk-card-body">
            <div class="uk-card">
              <h3 class="uk-card-title">Summary</h3>
              <div uk-grid>
                <div class="uk-width-3-4">Societal Project Ticket &times; <span id="ticketCount">1</span></div>
                <div class="uk-width-1-4" style="text-align:right">A$50</div>
              </div>
            </div>
            <div class="uk-card uk-margin-large-top">
              <hr>
              <div uk-grid>
                <div class="uk-width-3-4">
                  <span class="uk-card-title">Total</span>
                </div>
                <div class="uk-width-1-4" style="text-align:right">A$<span id="totalPrice">50</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="uk-grid uk-width-1-1">
      <div class="uk-width-1-1">
        <div class="g-recaptcha uk-margin-small-top" data-sitekey="6LfY358UAAAAAAV2lYRWVku2eSGUxcq1HWJ-0zHI"></div>
      </div>
      <div class="uk-width-1-1">
        <button type="submit" data-attach-loading class="uk-button uk-button-primary uk-margin-medium-top">Buy Now</button>
      </div>
    </div>
  </div>

</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>