@font-face {
  font-family: Raleway;
  font-weight: 600;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway;
  font-style: italic;
  src: url("../fonts/Raleway-Italic.ttf");
}

@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway;
  font-weight: bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro-Regular.otf");
}

html, body {
    overflow-x: hidden;
}

body, * {
    font-family: MyriadPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #F2E4C8;
    background-image: url("../images/bg.jpg");
    background-size: 50%;
}

#layout-content {
    min-height:100vh;
}

#navContainer {
    border-bottom:solid 1px rgba(145, 99, 79, 0.2);
    background-color: rgba(255,255,255,0.14);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#buyTicketNav {
    position: relative;
}

#buyTicketNav > a {
    color: inherit;
}

#buyTicketNav:after {
    content: ' ';
    height: calc(100% + 2px);
    width: 40px;
    position: absolute;
    top: -1px;
    right: -40px;
    background: inherit;
}

#clockdiv{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 20px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#clockdiv > div:not(:last-child):after {
    content: ':';
    font-weight: 600;
    font-size: 1.3em;
    position: absolute;
    top: 30%;
    right: -8px;
}

#clockdiv div > span{
    padding: 15px;
    padding-bottom: 0;
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv .smalltext {
    color: #bd7966;
    font-weight: 600;
    font-size: 0.8em;
}

.sectionHeader {
    display: inline-block;
    padding-top: 30%;
    position: relative;
}

.sectionHeader > * {
    position: absolute;
    top: 35%;
    right: 40px;
}

.paintbg-1 {
    background-image: url("../images/sp_assets/paint1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #f3e5c9;
}

.paintbg-2 {
    background-image: url("../images/sp_assets/paint2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #f3e5c9;
}

#aboutHeader {
    width:30vw;
    max-width:300px;
}

.pastEventDesc {
    position: relative;
}

.pastEventTitle {
    position: absolute;
    right: -30px;
    top: -50%;
    padding: 30px;
}

#venueName {
    position: relative;
    font-size: 25px;
    margin-left: 70px;
}

#venueName:before {
    content: ' ';
    position: absolute;
    background-image: url("../images/sp_assets/mapPin.svg");
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    top: -23px;
    left: -43px;
    z-index: 10;
}

#venueName:after {
    content: ' ';
    position: absolute;
    background-image: url("../images/sp_assets/paint3.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120%;
    height: 30px;
    left: -50px;
    bottom: -24px;
}

#about {
    position: relative;    
}

#about > .uk-container {
    position: relative;
}

#about:before {
    content: ' ';
    position: absolute;
    width: 100vw;
    height: 500px;
    top: 26px;
    left: 0;
    display: block;
    background-image: url("../images/sp_assets/aboutBg.svg");
    background-position: top center;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    filter: brightness(0.8) saturate(3) opacity(0.39);
}

#pastEvent {
    position: relative;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #874c3a 100%)
}

#pastEvent > .uk-container {
    position: relative;
    z-index: 2;
}

#pastEvent:after {
    content: ' ';
    position: absolute;
    width: 100vw;
    height: 60%;
    top: 76px;
    left: 0;
    display: block;
    background-image: url("../images/sp_assets/pastEventBg.svg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.8) saturate(3) opacity(0.39);
    z-index: 1;
}

.foodBg{
    position: relative;
}

.foodBg > img {
    z-index: 2;
    position: relative;
}

.foodBg:before {
    content: ' ';
    position: absolute;
    width:100%;
    height:100%;
    display: block;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.8) saturate(3) opacity(0.43);
    z-index: 1;
}

#food1:before {
    background-image: url("../images/sp_assets/foodBg1.svg");
}
#food2:before {
    background-image: url("../images/sp_assets/foodBg2.svg");
}
#food3:before {
    background-image: url("../images/sp_assets/foodBg3.svg");
}

@media (min-width: 960px) {
    #flower {
        transform: scale(1.5);
    }
}
