{% flash %}
<p data-control="flash-message" class="flash-message fade {{ type }}" data-interval="5">
  {{ message }}
</p>
{% endflash %}

<script>
  function waitForJQuery(){"undefined" == typeof jQuery ? setTimeout(waitForJQuery, 550) : $(window).on("ajaxErrorMessage",function(a){a.preventDefault()})}function formErrorHandler(a){let b=a.responseJSON.message;$.oc.flashMsg({text:b,class:"error"});grecaptcha.reset()}waitForJQuery()
</script>
<div class="uk-container uk-width-3-4@m">
  <form class="uk-grid-small" uk-grid data-request="{{ __SELF__ }}::onSubmitForm" data-request-success="location.href='/membership/register/success'" data-request-error="formErrorHandler(jqXHR)" data-request-validate id="registrationForm" data-no-instant>
    <legend class="uk-legend">About You</legend>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">First Name</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="firstName" placeholder="ex: John" required>
        <div data-validate-for="firstName"></div>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Last Name</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="lastName" placeholder="ex: Doe" required>
        <div data-validate-for="lastName"></div>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Date of Birth</label>
      <div class="uk-form-controls">
        <input class="uk-input apply-datepicker" type="text" name="dateOfBirth" uk-icon="icon: calendar" placeholder="ex: 20/02/1997">
        <div data-validate-for="dateOfBirth"></div>
      </div>
    </div>

    <legend class="uk-legend">Your Contact</legend>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Email</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="email" name="email" uk-icon="icon: mail" required placeholder="ex: yourName@example.com">
        <div data-validate-for="email"></div>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Phone Number</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="phoneNumber" uk-icon="icon: receiver" required placeholder="ex: 0 434 xxx xxx">
        <div data-validate-for="phoneNumber"></div>
      </div>
    </div>

    <legend class="uk-legend">Your Study at RMIT</legend>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Student Number</label>
      <div class="uk-form-controls">
        <input class="uk-input" type="text" name="studentNumber" placeholder="ex: s37xxxxx" required>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Level & Area of Study</label>
      <div class="uk-form-controls">
        <select class="programSelection uk-select" name="areaOfStudy">
          <option selected disabled>Select Program</option>
          {% for program in programs %}
            <option value="{{ program }}">{{ program }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="uk-width-1-2@s">
      <label class="uk-form-label" for="form-stacked-text">Expected Completion Date</label>
      <div class="uk-form-controls">
        <input class="uk-input apply-datepicker" type="text" name="completionDate" placeholder="ex: 15/12/2019">
        <div data-validate-for="completionDate"></div>
      </div>
    </div>

    <div class="uk-width-1-1">
      <div class="g-recaptcha uk-margin-small-top" data-sitekey="6LfY358UAAAAAAV2lYRWVku2eSGUxcq1HWJ-0zHI"></div>
      <button type="submit" data-no-instant data-attach-loading class="uk-button uk-button-primary uk-margin-medium-top">Submit</button>
    </div>
  </form>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
  function makeChoice(){"undefined" == typeof Choices ? setTimeout(makeChoice, 550) : (new Choices(document.querySelector('.programSelection'),{classNames: {containerOuter: 'choices uk-select',containerInner: '',},searchPlaceholderValue: 'Search for program'}))};makeChoice()
</script>
<style>.choices:after{display:none;}.choices__list--dropdown,.choices__list--dropdown.is-active,.choices__list--dropdown.is-open{border:1px solid #e5e5e5;border-radius:0;left:-1px;}</style>
