title = "About"
url = "/about"
layout = "default-noPadding"
is_hidden = 0
==
<script src="{{ 'assets/vendor/threejs/core.lib.js'|theme }}"></script>
<div id="sp-container" class="uk-cover-container uk-margin-large-bottom" uk-height-viewport>
    <canvas id="myCanvas"></canvas>
    <div class="uk-position-center uk-text-center">
        <div id="sp-hero-logo" class="uk-width-medium@m"></div>
        <h1 class="uk-text-large" style="font-weight: 200;">May 9<sup>th</sup>, 2020</h1>
        
    </div>
</div>

<div class="uk-container">
    <h1 style="text-align:center; padding-bottom:50px"> Coming Soon </h1>
    <!--<div class="uk-grid-collapse uk-text-center uk-flex-center uk-margin-large-top uk-margin-large-bottom" style="margin-top:0;padding-top:0;" uk-grid>
        <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-text-center">
            <h3 class="uk-card-title">Hand in Hand Towards the Rainbow&nbsp;End</h3>
            <p>Once in a while, right in the middle of an ordinary life, there&nbsp;is&nbsp;a&nbsp;fairytale.</p>
        </div>
    </div>
    
    <div class="uk-child-width-expand@s uk-text-center uk-margin-large-top uk-margin-large-top uk-margin-large-bottom" uk-grid uk-height-match="target: > div > .uk-card">
        <div>
            <div class="uk-card uk-card uk-card-body uk-card-medium">
                <img src="{{ 'assets/images/sp_assets/food.svg'|theme }}" width="100" height="100" style="filter: invert(1);">
                <h3 class="uk-card-title">Dining</h3>
                <p>Indulge in the taste of fine range of dishes cooked to perfection for sophisticated palates as you expand your network or social catch ups.</p>
            </div>
         </div>
         
        <div>
            <div class="uk-card uk-card uk-card-body uk-card-medium">
                <img src="{{ 'assets/images/sp_assets/network.svg'|theme }}" width="100" height="100" style="filter: invert(1);">
                <h3 class="uk-card-title">Networking</h3>
                <p>Build a networking among students, beit local or Indonesian, from different universities, cultures and backgrounds, to develop constructive relationships and strong networks.</p>
            </div>
        </div>
        
        <div>
            <div class="uk-card uk-card uk-card-body uk-card-medium">
                <img src="{{ 'assets/images/sp_assets/entertainment.svg'|theme }}" width="100" height="100" style="filter: invert(1);">
                <h3 class="uk-card-title">Entertainment</h3>
                <p>Let our performers complete your night with their exceptional tunes. Feel free to sing along and tap your foot to the beat of the music.</p>
            </div>
        </div>-->
    </div>
</div>
<!-- <div class="uk-cover-container uk-height-large">
    <img src="{{ 'assets/images/locationCover_2.jpg'|theme }}" alt="" uk-cover>
</div> -->

<style>

button:not([disabled])#buy-now {
    box-shadow: none;
    transition: all 0.5s;
}
button#buy-now:disabled {
    opacity: 0.5;
    transition: all 0.25s;
}

#sp-hero-logo {
    background-image: url('{{ "assets/images/sp_assets/sp_logo.png"|theme }}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    padding-top:100%;
}
</style>
<script src="{{ 'assets/vendor/stanislausk/ParticleSystem.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/sp.js'|theme }}"></script>