title = "Home"
url = "/"
layout = "default-noPadding"
description = "Page for Societal Project"
is_hidden = 0
==
<div class="uk-container uk-container-expand" style="background: linear-gradient(180deg, rgba(135,76,58,0.5) 0%, rgba(255,255,255,0) 100%)">
    <div class="uk-container uk-height-large" style="height:calc(100vh - 82px);">
    	<div class="uk-inline" style="width:100%;height:100%;">
    	    <div class="uk-position-center uk-overlay" style="width:100%;">
        	    <div class="uk-text-center" style="width:100%;">
        	        <img src="{{ "assets/images/sp_assets/sp_logo.png"|theme }}" alt="Societal Project Logo" title="Societal Project Logo" class="uk-margin-large" style="height:auto;width:50vw;max-width:200px;" />
                	    <br />
                	
                	<div>
                	    <img src="{{ "assets/images/sp_assets/tagline.svg"|theme }}" alt="An enchanted memory to last for a history" title="An enchanted memory to last for a history" style="width:80vw;" />
                		<div class="smalltext" style="color:white;">  </div>
                	</div>
        	    </div>
        	</div>
        </div>
    </div>
</div>

<div class="uk-container uk-height-large">
	<div class="uk-inline" style="width:100%;height:100%;">
	    <div class="uk-position-center uk-overlay" style="width:100%;">
    	    <div class="uk-text-center" style="width:100%;">
    	        <h2 style="text-transform: uppercase;">EVENT UPDATE<br></h2>
            	<div class = "aboutContent uk-text-lead">
                Due to the growing concern of COVID-19 and tight government restriction, with a heavy heart, we have come into a difficult decision to cancel Societal Project 2020.
                </div>
                <div class = "aboutContent uk-text-lead">
                We are very thankful for the excitement and support shown to our event. However, the most important thing all of us need to focus on now is to follow and abide on the health and safety measures and regulations as encouraged by the government.
                </div>
                <div class = "aboutContent uk-text-lead">
                Do take care of yourselves by staying safe, informed, and connected with your friends and loved ones. We sincerely hope to be able to see all of you in our event next year!
                </div>
                
    	    </div>
    	</div>
	</div>
</div>

<div class="uk-container uk-container-expand uk-margin-large" id="about">
    <div class="uk-container uk-container-xsmall">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-width-1-3@m paintbg-1 uk-text-center uk-text-right@m">
                <h2 class="uk-card-title uk-text-uppercase" style="color:inherit;font-size:1.7em;">About</h2>
            </div>
            <div></div>
            <div></div>
        </div>
        <div class = "aboutContent uk-text-lead">
            First Established in 2016, Societal Project is one of the two external events organised by PPIA RMIT. This event aims to encourage networking among students be it local or indonesian, from different universities, cultures and backgrounds to develop constructive relationships and strong networks.
        </div>
        <div class="uk-child-width-expand@s uk-text-center uk-flex uk-flex-middle uk-text-center uk-flex-wrap-reverse">
            <div class="uk-height-medium uk-height-large@m uk-width-1-1 uk-width-1-4@m"><img id="flower" src="{{ "assets/images/sp_assets/flower.svg"|theme }}" style="height:100%;margin-top: 20px;" /></div>
            <div class="uk-width-1-1 uk-width-1-2@m">This year, we aim to provide a fine dining experience as well as a warm and friendly atmosphere where you can make new friends and make new memories. Societal Project 2020 will bring forth the theme Enchanted Forest. We want our guests to feel the essence of nature while maintaining the luxurious atmosphere complemented by the delicacies we provide.
            </div>
            <div class="uk-width-1-1 uk-width-1-4@m uk-margin-large">
                <div class=" uk-flex uk-flex-row uk-flex-wrap uk-flex-center">
                    <div class="uk-width-1-3 uk-width-1-1@m uk-margin foodBg" id="food1">
                        <img style="max-height:64px" src="{{ "assets/images/sp_assets/food1.svg"|theme }}" />
                    </div>
                    <div class="uk-width-1-3 uk-width-1-1@m uk-margin foodBg" id="food2">
                        <img style="max-height:64px" src="{{ "assets/images/sp_assets/food2.svg"|theme }}" />
                    </div>
                    <div class="uk-width-1-3 uk-width-1-1@m uk-margin foodBg" id="food3">
                        <img style="max-height:64px" src="{{ "assets/images/sp_assets/food3.svg"|theme }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-container-xsmall uk-margin-large" id="venue">
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div></div>
        <div class="uk-card uk-card-body uk-width-1-3@m paintbg-2 uk-text-center">
            <h2 class="uk-card-title uk-text-uppercase" style="color:inherit;font-size:1.7em;">Venue</h2>
        </div>
        <div></div>
    </div>
    <div uk-grid>
        <div id="venueName" class="uk-text-center uk-text-left@m">75 Reid St. Fitzroy</div>
        <div></div>
    </div>
    <div class="venueContainer">
		<div class = "venueColumnR">
			<p>HOW TO GET THERE</p>
			<div class = "rideshare">
				<p>RIDESHARE</p>
				<div class = "rShareContent">
					<div class = "rShareImg">image</div>
					<div class = "rShareText">The best way to get to the venue is to get a group of friends together and take a rideshare from the CBD, it is only 15 minutes away and costs approximately $10-$15!</div>
				</div>
			</div>
			<div class = "publicTransport">
				<p>PUBLIC TRANSPORT</p>
				<div class = "PTContent">
					<div class = "PTImg">image</div>
					<div class = "PTText">An alternative method for getting to the venue for people who do not have access to a vehicle. It takes approximately 25 minutes to travel by tram</div>
				</div>
			</div>
		</div>  
	</div>
	<div class = "venueInstructions">
		<p>Instructions from the CBD are as follows:</p>
	</div>
	<div class="box">
		<iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.2017366215823!2d144.97858331588534!3d-37.78531174018998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6433e7cae8afd%3A0xd15df0b534d5c292!2s75%20Reid%20St!5e0!3m2!1sen!2sau!4v1584609164603!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		<br><br>
	</div>
</div>

<!-- <div class="uk-container uk-container-expand uk-padding-large"  id="pastEvent">
    <div class="uk-container uk-container-xsmall">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-width-1-3@m paintbg-1 uk-text-center uk-text-right@m">
                <h2 class="uk-card-title uk-text-uppercase" style="color:inherit;font-size:1.7em;">Past Event</h2>
            </div>
            <div></div>
            <div></div>
        </div>
        <center class="uk-margin-large">
            <p>Before you experience the magic of our 2020 event, let us take you back to our past events!</p>
        </center>
        <div class="uk-child-width-1-1 uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://societal.ppia-rmit.com/storage/app/media/SP_Gallery/20190511-82.jpg" alt="">
                    </div>
                    <div class="uk-card-body pastEventDesc">
                        <div class="pastEventTitle paintbg-2">
                            <div class="uk-card uk-card-body uk-width-1-3@m uk-text-center uk-text-right@m" style="color:inherit;">
                                <p style="color:inherit;">2019</p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://societal.ppia-rmit.com/storage/app/media/SP_Gallery/20190511-82.jpg" alt="">
                    </div>
                    <div class="uk-card-body pastEventDesc">
                        <div class="pastEventTitle paintbg-2">
                            <div class="uk-card uk-card-body uk-width-1-3@m uk-text-center uk-text-right@m" style="color:inherit;">
                                <p style="color:inherit;">2019</p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://societal.ppia-rmit.com/storage/app/media/SP_Gallery/20190511-82.jpg" alt="">
                    </div>
                    <div class="uk-card-body pastEventDesc">
                        <div class="pastEventTitle paintbg-2">
                            <div class="uk-card uk-card-body uk-width-1-3@m uk-text-center uk-text-right@m" style="color:inherit;">
                                <p style="color:inherit;">2019</p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="https://societal.ppia-rmit.com/storage/app/media/SP_Gallery/20190511-82.jpg" alt="">
                    </div>
                    <div class="uk-card-body pastEventDesc">
                        <div class="pastEventTitle paintbg-2">
                            <div class="uk-card uk-card-body uk-width-1-3@m uk-text-center uk-text-right@m" style="color:inherit;">
                                <p style="color:inherit;">2019</p>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> -->

<style>
.box{
	text-align:center;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

.container{
	margin-left:auto;
	margin-right:auto;
	padding-top:250px;
	min-width:150px;
	max-width:150px;
	
	min-height:40px;
	overflow:hidden;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
}

/* ABOUT */
.aboutTitle{
	font-size: 25px;
	padding: 10px;
}

.aboutContent{
	text-align: center;
	padding:15px;
}

	
/* VENUE */

.venueContainer{
	display: flex;
}

.venueTitle{
	text-align: center;
	padding: 20px;
}

.venueColumnL, .venueColumnR{
	flex: 50%;
}

.venueColumnL{
	font-size: 25px;
}


.venueColumnR > p{
	color: #7d8f63;
	text-align: center;
}

.rShareText{
	flex-grow: 2;
}

.venueInstructions > p{
	text-align : center;
}

.rideshare > p{
	padding-left: 20px;
}

.rShareContent {
  display: flex;
  flex-wrap: nowrap;
}

.rShareContent > div {
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  line-height: 20px;
  font-size: 15px;
}


.publicTransport > p{
	padding-left: 20px;
}

.PTContent {
  display: flex;
  flex-wrap: nowrap;
}

.PTContent > div {
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  line-height: 20px;
  font-size: 15px;
}

.PTText{
	flex-grow: 2;
}

</style>