title = "About Us"
url = "/about-us"
layout = "default-noPadding"
is_hidden = 0
==
<?php
function onStart()
{
    $this['tabBackground'] = '<svg style="width: 20vw;" enable-background="new 0 0 288 50" viewBox="0 0 288 50" xmlns="http://www.w3.org/2000/svg"><path d="m287.7 50-5.7-29.6c-2.3-11.8-12.6-20.3-24.5-20.3h-226.6c-12 0-22.3 8.5-24.5 20.3l-5.7 29.6z"/></svg>';
}
?>
==
<div id="body">
    <div id="top">
        <div id="top-left" style="z-index:2;">
            <a href="{{ 'indonation'|page }}">    
                <img id="back" src="https://ppia-rmit.com/storage/app/media/indonation/back.png">
            </a>
        </div>
        <div id="top-middle">
            <img id="logo" src="https://ppia-rmit.com/storage/app/media/indonation/logo-indonation.png">
        </div>
        <div id="top-right">
            <img id="mel-au" src="https://ppia-rmit.com/storage/app/media/indonation/mel-au.png">
        </div>
    </div>
    <ul id="aboutTabs" class="uk-subnav" style="margin-bottom: 0;" uk-switcher>
        <li id="about-about"><a href="#">{{ tabBackground|raw }}</a></li>
        <li id="about-vision"><a href="#">{{ tabBackground|raw }}</a></li>
        <li id="about-jkf"><a href="#">{{ tabBackground|raw }}</a></li>
        <li id="about-commitee"><a href="#">{{ tabBackground|raw }}</a></li>
    </ul>
    
    <ul id="about-content-container" class="uk-switcher uk-margin" style="margin-top: 0 !important;">
        <li id="about-about-desc"></li>
        <li id="about-vision-desc"></li>
        <li id="about-jkf-desc"></li>
        <li id="about-commitee-desc"></li>
    </ul>
    
</div>

<style>
#aboutTabs li {
    padding-left: 5vw;
}

#about-about svg {
    fill: #EB6A44;
}

#about-vision svg {
    fill: #5A8C7B;
}

#about-jkf svg {
    fill: #F7E255;
}

#about-commitee svg {
    fill: #283F72;
}

#about-about a:before,
#about-vision a:before,
#about-jkf a:before,
#about-commitee a:before {
    content: '';
    width: 20vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 57%;
    background-size: cover;
    background-repeat: no-repeat;
}

#about-about a:before {
    background-image: url({{ 'indonation/about-us/texts/about-about.png'|media }});
}

#about-vision a:before {
    background-image: url({{ 'indonation/about-us/texts/about-visionMission.png'|media }});
}

#about-jkf a:before {
    background-image: url({{ 'indonation/about-us/texts/about-jkf.png'|media }});
}

#about-commitee a:before {
    background-image: url({{ 'indonation/about-us/texts/about-committee.png'|media }});
    background-position: 50% 54%;
}

/*#about-about:not(.uk-active) svg,
#about-vision:not(.uk-active) svg,
#about-jkf:not(.uk-active) svg,
#about-commitee:not(.uk-active) svg {
    filter: brightness(0.9);
}

#about-about:not(.uk-active),
#about-vision:not(.uk-active),
#about-jkf:not(.uk-active),
#about-commitee:not(.uk-active) {
    box-shadow: 0px 0px 49px -22px rgba(0,0,0,0.75);
}*/

#about-content-container li {
    min-height: 500px;
}

#about-about-desc {
    background-color: #EB6A44;
}

#about-vision-desc {
    background-color: #5A8C7B;
}

#about-jkf-desc {
    background-color: #F7E255;
}

#about-commitee-desc {
    background-color: #283F72;
}    

@font-face {
   font-family: dayCareRegular;
   src: url('{{ 'https://indonation.ppia-rmit.com/storage/app/media/indonation/DayCare-Regular.ttf' }}');
}

#body{
    background-image: url('{{ 'https://ppia-rmit.com/storage/app/media/indonation/about-us/background.png' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:50vh;
}

#top{
    display:flex;
    text-align:center;    
}

#top-left{
    text-align:left;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 2%;
    height:30%;
    width:30%;
}

#back{
    height:20%;
    width:20%;
}

#top-middle{
    text-align:center;    
    margin: 2% auto;
    height:30%;
    width:30%;
}

#top-right{
    text-align:right;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: auto;
    height:30%;
    width:30%;
}

#logo{
    height:80%;
    width:80%;
}

#mel-au{
    height:20%;
    width:20%;

}

#menu{
    margin-top:5%;
    margin-bottom:5%;
    width:100%;

}

#about, #vision, #jkf, #commitee{
    z-index:1;
    width:100%;
    position: absolute;
    top:0px;
}


#layout-footer{
    width:100%;
}


</style>