title = "Contact Us"
url = "/contact-us"
layout = "default-noPadding"
is_hidden = 0
==
<div id="body">
    <div id="top">
        <div id="top-left">
            <a href="{{ 'indonation'|page }}">
                <img id="back" src="https://ppia-rmit.com/storage/app/media/indonation/back.png">
            </a>
        </div>
        <div id="top-middle">
            <img id="logo" src="https://ppia-rmit.com/storage/app/media/indonation/logo-indonation.png">
        </div>
        <div id="top-right">
            <img id="mel-au" src="https://ppia-rmit.com/storage/app/media/indonation/mel-au.png">
        </div>
    </div>
    
    <div id="menu">
        <img id="instagram" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us/instagram.png">    
        <img id="email" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us/email.png">
        <img id="facebook" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us/facebook.png">
        <img id="phone" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us/phone.png">
    </div>
</div>

<style>
@font-face {
   font-family: dayCareRegular;
   src: url('{{ 'https://indonation.ppia-rmit.com/storage/app/media/indonation/DayCare-Regular.ttf' }}');
}

#body{
    background-image: url('{{ 'https://ppia-rmit.com/storage/app/media/indonation/contact-us/background.png' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    position: absolute;
}

#top{
    display:flex;
    text-align:center;    
}

#top-left{
    text-align:left;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 2%;
    height:30%;
    width:30%;
}

#back{
    height:20%;
    width:20%;
}

#top-middle{
    text-align:center;    
    margin: 2% auto;
    height:30%;
    width:30%;
}

#top-right{
    text-align:right;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: auto;
    height:30%;
    width:30%;
}

#logo{
    height:80%;
    width:80%;
}

#mel-au{
    height:20%;
    width:20%;

}

#menu{
    text-align:center;
    margin-left: auto;
    margin-left: auto;
    margin-bottom:30%;
}

#instagram, #facebook{
    width:20%;
    height:20%;
    margin-bottom:10%;
    margin-left: auto;
    margin-right: auto;
}

#email, #phone{
    width:20%;
    height:20%;
    margin-top:10%;
    margin-left: auto;
    margin-right: auto;
}

</style>