title = "Gallery"
url = "/gallery"
layout = "default-noPadding"
is_hidden = 0
==
<div id="body">
    <div id="top">
        <div id="top-left">
            <a href="{{ 'indonation'|page }}">
                <img id="back" src="https://ppia-rmit.com/storage/app/media/indonation/back.png">
            </a>
        </div>
        <div id="top-middle">
            <img id="logo" src="https://ppia-rmit.com/storage/app/media/indonation/logo-indonation.png">
        </div>
        <div id="top-right">
            <img id="mel-au" src="https://ppia-rmit.com/storage/app/media/indonation/mel-au.png">
        </div>
    </div>
    
    <div id="menu">
        <div class="uk-container">
            <div class="uk-flex uk-flex-center uk-flex-wrap uk-width-1-1">
                <div class="picture-container uk-width-1-1 uk-width-1-2@m">
                    <p class="title">pre-event 1</p>
                    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="ratio: 1:1">
                        <ul class="uk-slideshow-items"> 
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/1.png" alt="No Pic" uk-cover> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/2.png" alt="No Pic" uk-cover> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/3.png" alt="No Pic" uk-cover> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/4.png" alt="No Pic" uk-cover> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/5.png" alt="No Pic" uk-cover> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-1/minified/6.png" alt="No Pic" uk-cover> </li>
                        </ul>
                        
                        <a class="slideshow-prev uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="slideshow-next uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                </div>
                <div class="picture-container uk-width-1-1 uk-width-1-2@m">
                    <p class="title">pre-event 2</p>
                    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="ratio: 1:1">
                        <ul class="uk-slideshow-items"> 
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/1.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/2.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/3.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/4.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/5.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/pre-2/6.jpeg" alt="No Pic"> </li>
                        </ul>
                        
                        <a class="slideshow-prev uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="slideshow-next uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>                
                </div>
                <div class="picture-container uk-width-1-1 uk-width-1-2@m">
                    <p class="title">the day</p>
                    <div class="uk-position-relative uk-visible-toggle" uk-slideshow="ratio: 1:1">
                        <ul class="uk-slideshow-items"> 
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/1.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/2.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/3.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/4.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/5.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/6.jpeg" alt="No Pic"> </li>
                            <li> <img style="" src="https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/d-day/7.jpeg" alt="No Pic"> </li>
                        </ul>
                        
                        <a class="slideshow-prev uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="slideshow-next uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                </div>
            </div>
        </div>
        <!-- <img id="phone" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us/phone.png"> -->
    </div>
</div>

<style>
@font-face {
   font-family: ID2020;
   src: url('{{ 'https://indonation.ppia-rmit.com/storage/app/media/indonation/gallery/regularID2020.ttf' }}');
}

/*#body{
    background-image: url('{{ 'https://ppia-rmit.com/storage/app/media/indonation/gallery/background.png' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:150vh;
    position: absolute;
}*/

#body{
    position: relative;
    background-color: #F9F4E7;
    padding-bottom:60px;
}

.uk-slideshow-items:after,
.uk-slideshow-items:before,
#body:before,
#body:after {
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    width: 100%;
    content:' ';
    position: absolute;
}

#body:before {
    background-image: url('https://indonation.ppia-rmit.com/storage/app/media/indonation/bgTop.png');
    height:253px;
    top: 0;
}

#body:after {
    background-image: url('https://indonation.ppia-rmit.com/storage/app/media/indonation/bgBottom.png');
    height:261px;
    bottom: 0;
}


#top{
    margin-top:0px;
    padding-bottom:0px;
    display:flex;
    text-align:center;    
    position: relative;
    z-index: 1;
}

#top-left{
    text-align:left;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 2%;
    height:30%;
    width:30%;
}

#back{
    height:20%;
    width:20%;
}

#top-middle{
    text-align:center;    
    margin: 2% auto;
    height:25%;
    width:25%;
}

#top-right{
    text-align:right;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: auto;
    height:30%;
    width:30%;
}

#logo{
    height:80%;
    width:80%;
}

#mel-au{
    height:20%;
    width:20%;

}

#menu{
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 60px;
}

.title{
    padding-top:0px;
    font-family: ID2020;
    font-size: 50px;
    color:#000080;
}

#menu-top{
    display:flex;
}

#menu-top, #menu-bottom{
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 20px;
}

.picture-container img{
    padding: 10px;
}

@media(min-width: 960px) {
    .picture-container{
        padding: 20px;  
    }
    
    .picture-container img{
        padding: 40px;
    }
}

.slideshow-prev,
.slideshow-next {
    background-position: center;
    background-size: cover;
}

.slideshow-prev > svg,
.slideshow-next > svg{
    opacity: 0;
}

.slideshow-prev {
    background-image: url('https://indonation.ppia-rmit.com/storage/app/media/indonation/leftArrow.png');
}
.slideshow-next {
    background-image: url('https://indonation.ppia-rmit.com/storage/app/media/indonation/rightArrow.png');
}

.uk-slideshow-items {
    position: relative;
}

.uk-slideshow-items:after,
.uk-slideshow-items:before {
    width: 30px;
    height: 90%;
    top: 10%;
}

.uk-slideshow-items:before {
    background: rgb(249,244,231);
    background: linear-gradient(90deg, rgba(249,244,231,1) 10%, rgba(249,244,231,0) 90%);
    z-index: 2;
}

.uk-slideshow-items:after {
    background: rgb(249,244,231);
    background: linear-gradient(-90deg, rgba(249,244,231,1) 10%, rgba(249,244,231,0) 90%);
    right: 0;
    left: initial;
    z-index: 2;
}

.uk-slideshow-items li,
.uk-slideshow {
    transform: translateZ(0);
    will-change: transform;
}


</style>