title = "Home"
url = "/"
layout = "default-noPadding"
description = "Page for Indonation"
is_hidden = 0
==
<?php
function onStart() {
    $prefix_dir = 'assets/images/thank-you/';
    $images_list = [
        $prefix_dir . '1.jpg',
        $prefix_dir . '2.jpg',
        $prefix_dir . '3.jpg',
        $prefix_dir . '4.jpg'
    ];
    
    shuffle($images_list);
    $this->page["images"] = $images_list;
}
?>
==
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div id="body">
    <!--<div style="text-align:center; margin:20px 0px; color:black; font-weight:bolder; font-size:45px;">
        <p> Time until Indonation:<br><span id="countdown" ></span></p>
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("Oct 3, 2020 17:00:00").getTime();
            
            // Update the count down every 1 second
            var x = setInterval(function() {
            
              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate - now;
                
              // Time calculations for days, hours, minutes and seconds
              var days = Math.floor(distance / (1000 * 60 * 60 * 24));
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
              // Output the result in an element with id="demo"
              document.getElementById("countdown").innerHTML = days + " Days " + hours + " Hours "
              + minutes + " Minutes " + seconds + " Seconds ";
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "EXPIRED";
              }
            }, 1000);
        </script>
    </div>-->
    <div id="top">
        <div id="top-left">
            <p id="year">2020</p>
        </div>
        <div id="top-middle">
            <img id="logo" src="https://ppia-rmit.com/storage/app/media/indonation/logo-indonation.png">
        </div>
        <div id="top-right">
            <img id="mel-au" src="https://ppia-rmit.com/storage/app/media/indonation/mel-au.png">
        </div>
    </div>
    
    <div id="menu">
        <div class="menu-container">
            <a href="{{ 'about-us'|page }}">
                <img id="about-us" src="https://ppia-rmit.com/storage/app/media/indonation/about-us.gif">  <br>
                <span> About Us </span>
            </a>
        </div>
        <div class="menu-container">
            <a href="{{ 'gallery'|page }}">
                <img id="gallery" src="https://ppia-rmit.com/storage/app/media/indonation/gallery.gif"> <br>
                <span> Gallery </span>
            </a>
        </div>
        <!-- <img id="guests" src="https://ppia-rmit.com/storage/app/media/indonation/guest.gif"> -->
        <!-- <img id="venue" src="https://ppia-rmit.com/storage/app/media/indonation/venue.gif"> -->
        <div class="menu-container">
            <a href="{{ 'contact-us'|page }}">
                <img id="contacts" src="https://ppia-rmit.com/storage/app/media/indonation/contact-us.gif"> <br>
                <span> Contact Us </span>
            </a>
        </div>
    </div>
    <div id="bottom">
    </div>
    
</div>

<!--<div class="uk-container uk-margin-large-top uk-height-large@m" id="po-hero">
    <div class="uk-flex uk-flex-column uk-width-1-1 uk-width-1-2@s">
       <div class="uk-card uk-background-transparent uk-card-body">
           <h1 class="uk-heading-primary" style="padding-right:70px;"><img data-src="{{ 'assets/images/po_assets/indonation_logo.svg'|theme }}" style="max-width:480px;" class="lazy" /></h1>
           <h2 class="uk-card-title" style="color:#000!important;padding-right:70px;">Together, we can raise awareness towards Indonesia's lack of educational support to the underprivileged children</h2>
       </div>
    </div>
</div>

<div id="paperPlane-animation-container">
    <svg id="paperPlane-animation-path"></svg>
    <figure id="paperPlane-animation-plane"></figure>
</div>
<div style="background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('{{ 'assets/images/po_assets/teaching.JPG'|theme }}');background-position: center;color:#fff!important;">
    <div class="uk-container uk-margin-large-bottom" style="padding: 80px 0;">
        <div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-flex-center" uk-grid>
            <div>
                <div class="uk-card uk-card-body">
                    <figure class="projectO-logo uk-margin-medium-bottom"></figure>
                    <span class="uk-article-title">THE 'O' ?</span>
                </div>
             </div>
            <div>
                <div class="uk-card uk-card-body">
                <h3 style="font-weight:300;color:#fff;">The infinite loop of sharing</h3>
                <p style="color:#fff;">Represents our motto ‘Share to Learn, Learn to Share’. While helping the underprivileged Indonesian children, we are learning the culture of sharing at the same time. Little by little, we are aiming to help break the poverty cycle in Indonesia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-container">
    <div class="uk-grid-collapse uk-text-center uk-flex-center uk-margin-top uk-margin-large-bottom" style="margin-top:0;padding-top:0;" uk-grid>
        <div class="uk-card uk-card uk-card-body uk-width-1-2@m uk-text-center" style="font-family: 'Bodony 72', 'Bodoni MT','Times New Roman', Times,serif!important;">
            <h3 class="uk-card-title" style="font-family:inherit;color:#002157!important;font-weight:bold;font-size: 21pt;">indonation<br>&bull;/&rsquo;&#716;&#618;nd&#601;&#8487;/&rsquo;ne&#618;&int;(&#601;)n/</h3>
            <p style="font-family:inherit;font-size: 18pt;">Indonesia Donation</p>
        </div>
    </div>
    
    <div class="uk-child-width-expand@s uk-text-center uk-margin-large-top uk-margin-large-top uk-margin-large-bottom" uk-grid uk-height-match="target: > div > .uk-card">
        <div>
            <div class="uk-card uk-card uk-card-body uk-card-medium">
                <h3 class="uk-card-title">
                    <img data-src="{{ 'assets/images/po_assets/vision.png'|theme }}" class="lazy" title="vision" alt="vision" width="165.5" height="38.5" style="max-width:331px;">
                </h3>
                <p>Minimising the cycle of child abuse in indonesia, especially batam by creating events to raise the issue.</p>
            </div>
         </div>
        
        <div>
            <div class="uk-card uk-card uk-card-body uk-card-medium">
                <h3 class="uk-card-title">
                    <img data-src="{{ 'assets/images/po_assets/mission.png'|theme }}" class="lazy" title="mission" alt="mission" width="200" height="38.25" style="max-width:400px;">
                </h3>
                <ul style="text-align: left;color:#000">
                    <li>provide sustainable shelter program in Batam</li>
                    <li>minimize the number of underprivileged children</li>
                    <li>plant the seeds of compassion in both Australian and Indonesian citizens</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="background:linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)),url('{{ 'Indonation_Banner/donationBox.jpg'|media }}');background-position: center bottom;color:#fff!important;background-size:cover;" class="uk-padding">
    <div class="uk-container uk-margin-large-bottom" style="padding: 80px 0;">
        <div class="uk-grid-match uk-child-width-expand@s uk-text-center uk-flex-center" uk-grid>
            <div>
                <div class="uk-card uk-card-body">
                    <span class="uk-article-title" style="font-weight:heavy;color:#000;">Want to Donate?</span>
                    <h2 style="font-weight:300;color:#000;text-shadow: 0px 1px 1px #000;">We have donation boxes all over Melbourne</h2>
                    <span><a href="https://www.gofundme.com/shelter-for-rumah-faye-indonesia" target="_blank">Or follow this link</a></span>
                </div>
             </div>
        </div>
    </div>
</div>
-->
<style>
@font-face {
   font-family: dayCareRegular;
   src: url('{{ 'https://indonation.ppia-rmit.com/storage/app/media/indonation/DayCare-Regular.ttf' }}');
}

#body{
    background-image: url('{{ 'https://ppia-rmit.com/storage/app/media/indonation/background_home.png' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:100vh;
}

#top{
    display:flex;
    text-align:center;    
}

#top-left{
    text-align:left;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 2%;
    height:30%;
    width:30%;
}

#year{
   font-family: dayCareRegular;   
   font-size: 20px;
   color:green;
}

#top-middle{
    text-align:center;    
    margin: 2% auto;
    height:30%;
    width:30%;
}

#top-right{
    text-align:right;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: auto;
    height:30%;
    width:30%;
}

#logo{
    height:80%;
    width:80%;
}

#mel-au{
    height:20%;
    width:20%;

}

#menu{
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    margin-top:5%;
    margin-bottom:5%;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.menu-container{
    width:15%;
    height:15%;
    margin-right: auto;
    margin-left: auto;   
}

@media (max-width: 500px) {
    .menu-container{
        width:35vw;
    }
}

.menu-container span{
    opacity: 0;  
    transition:1s; 
}

.menu-container:hover span{
    opacity: 1;
    transition:1s; 
}


#about-us, #gallery, #guests, #venue, #contacts{
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

#menu span{
    width:15%;
    height:15%;
    margin-left: auto;
    margin-right: auto;
   font-family: dayCareRegular;   
   font-size: 30px;
   color:black;
}

#bottom{
    min-height: 500px;
    position: relative;
    background-color: #5A8C7B;
    margin-top: 150px;
    border-radius: 40px 40px 0 0;
}

@media (max-width: 445px) {
    #bottom {
        border-radius: 0;
    }
}

#bottom:before {
    background-image: url('https://ppia-rmit.com/storage/app/media/indonation/partner-board.png');
    background-position: center top;
    content: "";
    position: absolute;
    height: 61px;
    display: block;
    width: 100%;
    top: -61px;
    right: 0;
}

#partner-board{
    width:100%;
}

#layout-footer{
    width:100%;
    z-index:1;
    position: absolute;
}

</style>
<!--
html,body {
    overflow-x: hidden;
}

#paperPlane-animation-path path {
    opacity: 0;
}

#po-hero {
    background-image: url('{{ 'assets/images/po_assets/blackboard.svg'|theme }}');
    background-position: bottom right;
    background-repeat: no-repeat;
    min-height: 50vw;
}
@media (max-width:640px) {
    #po-hero {
        background: transparent;
    }
}

#paperPlane-animation-container {
    position: relative;
}

#paperPlane-animation-plane {
    background-image: url('{{ 'assets/images/po_assets/paperPlane.svg'|theme }}');
    width: 80px;
    padding-top: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

.projectO-logo {
    background-image: url('{{ 'assets/images/po_assets/logo.svg'|theme }}');
    width: 70px;
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.projectO-logo:after {
    content: ' ';
    display: block;
    padding-bottom: 137.2044%;
}
</style>
<script src="{{ 'assets/javascript/po.js'|theme }}"></script>
-->