title = "Location"
url = "/location"
layout = "default-noPadding"
is_hidden = 0
==
<div id="body">
    <div id="top">
        <div id="top-left">
            <img id="back" src="https://ppia-rmit.com/storage/app/media/indonation/back.png">
        </div>
        <div id="top-middle">
            <img id="logo" src="https://ppia-rmit.com/storage/app/media/indonation/logo-indonation.png">
        </div>
        <div id="top-right">
            <img id="mel-au" src="https://ppia-rmit.com/storage/app/media/indonation/mel-au.png">
        </div>
    </div>
    <div id="menu">
        <div id="menu-left">
            <p style="font-family: chunkyness; font-size:30px; color:#000080;">Our Venue</p>
        </div>
        <div id="menu-right">
            <img src="https://indonation.ppia-rmit.com/storage/app/media/indonation/location/blackboard.png">
        </div>
    </div>

</div>

<style>
@font-face {
   font-family: chunkyness;
   src: url('{{ 'https://indonation.ppia-rmit.com/storage/app/media/indonation/location/chunkyness.ttf' }}');
}

#body{
    background-image: url('{{ 'https://ppia-rmit.com/storage/app/media/indonation/location/background.png' }}');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    position: absolute;
}

#top{
    display:flex;
    text-align:center;    
}

#top-left{
    text-align:left;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: 2%;
    height:30%;
    width:30%;
}

#back{
    height:20%;
    width:20%;
}

#top-middle{
    text-align:center;    
    margin: 2% auto;
    height:30%;
    width:30%;
}

#top-right{
    text-align:right;    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: auto;
    height:30%;
    width:30%;
}

#logo{
    height:80%;
    width:80%;
}

#mel-au{
    height:20%;
    width:20%;

}

#menu{
    display: flex;
    text-align:center;
    margin-left: auto;
    margin-left: auto;
    margin-bottom:30%;
}

#menu-left, #menu-right{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

</style>