==
<li class="{% if this.page.id == 'societal-project' %}uk-active{% endif %}"><a href="https://societal.ppia-rmit.com/" target="_blank">Societal Project</a></li>
<li class="{% if this.page.id == 'indonation' %}uk-active{% endif %}"><a href="https://indonation.ppia-rmit.com" target="_blank">Indonation</a></li>
<li class="{% if this.page.id == 'internal-events' %}uk-active{% endif %}"><a href="{{ 'internal-events'|page }}">Internal Events</a></li>
<li class="{% if this.page.id == 'membership' %}uk-active{% endif %}"><a href="{{ 'membership'|page }}">Member Benefits</a></li>
<li class="{% if this.page.id == 'committee' %}uk-active{% endif %}"><a href="{{ 'committee'|page }}">Committee</a></li>