body, * {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    /*font-family: Helvetica !important;*/
}

#layout-content {
    min-height:100vh;
}

.uk-offcanvas-bar {
    background: #fff;
}

.uk-offcanvas-bar .uk-nav-primary>li>a {
    font-size: 24px;
    line-height: 1.5;
    color: #999;
}

.uk-offcanvas-bar .uk-nav-primary>li>a:hover, .uk-offcanvas-bar .uk-nav-primary>li>a:focus {
    color: #666;
}

.uk-offcanvas-bar .uk-nav-primary>li.uk-active>a {
    color: #222;
}

.uk-offcanvas-bar .uk-close {
    color: #999;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
    transform-origin: 100% 0%;
    transform: scale(2);
}

.uk-offcanvas-bar .uk-close:hover {
    color: #666;
}

#homepageBg {
    background-size: cover;
    position: relative;
}

#homepageBg:before {
    content: ' ';
    display: block;
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

#homepageBg:after {
    content: ' ';
    display: block;
    height: 100%;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
}

.membership {
  position: relative;
}

.member-benefit__btn-container {
    position: relative;
    bottom: 45%;
    left: -25%;
    padding: calc(5vw + 1em) 1em;
    /*padding-bottom: calc(12% + 0.5em);*/
    background-repeat: no-repeat;
    background-position: center;
}

.membership .btn {
  background-color: #1E90FF;
  color: white;
  font-size: 0.5em;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  vertical-align: text-top;
  top: 60%;
  left: 30%;
}

@media (min-width: 960px) {
    .membership .member-benefit__btn-container {
        font-size: 15pt;
        padding: 3em;
    }
    
    .membership .btn {
      font-size: 1em;
    }
}

.scene {
  width: 200px;
  height: 260px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}
.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY( 180deg );
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
